<div id="contactus" class="contactus-container container" ng-controller="contactusController">
    <h2 class="mainTitle">
        {{ 'contactusTitle' | translate}}
    </h2>
    <p>
        {{ 'contact_feps' | translate}}
    </p>
    <p>
        {{ 'contact_fepsTitle' | translate}}
    </p>
    <p>
        {{ 'contact_address' | translate}}
    </p>
    <p>
        {{ 'contact_tel' | translate}} 35703769
    </p>
    <p>
        {{ 'contact_email' | translate}} <a href="mailto:incubator@feps.edu.eg" target="_blank" rel="noopener"> incubator@feps.edu.eg </a>
    </p>
    <p>
        {{ 'contact_facebook' | translate}} <a href="http://www.facebook.com/FEPSBI" target="_blank"> www.facebook.com/FEPSBI </a>
    </p>
</div>