<div class="manage-news-landing-page-container manage-cycle-container container"
     ng-controller="ManageProjectsController" data-ng-init="init()">
    <h2 class="mainTitle">{{ 'ManageProjectsMainTitle' | translate }}</h2>
    <!-- Side Nav -->
    <div class="tabsConatiner col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
        <ng-include src="'components/adminSideMenu/adminSideMenu.view.html'"
                    ng-controller="adminSideMenuController"></ng-include>
    </div>
    <!-- Content -->
    <div ng-show="noProjects" class="marginTop50 alert alert-danger text-center col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
        {{ 'noProjectsMsg' | translate  }}
    </div>
    <div ng-show="!noProjects" class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
        <div ng-if="!registeredUser" grid-data id='test' grid-options="gridOptions" grid-actions="gridActions" class="tableContainer">
            <div class="row" ng-show="isReviewed">
                <div ng-show="showAssignMentor" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="createNewsBtn" ng-click="openAssignMentor()">{{ 'manageProjectsAssignMentor' | translate }}</div>
                </div>
            </div>
            <table class="">
                <thead>
                <tr class="tableRow MainRow">
                    <!--<th sortable="_id" class="sortable">
                        ID #
                    </th>-->
                    <th ng-show="showSelect" class="tableCell">
                        <input type="checkbox" ng-checked="false" ng-model="selectedAll" ng-change="checkAll()"/>
                    </th>
                    <th class="tableCell sortable" sortable="username">
                        {{ 'manageProjectsProjectName' | translate }}
                    </th>
                    <th class="tableCell sortable" sortable='email'>
                        {{ 'manageProjectsProjectStatus' | translate }}
                    </th>
                    <th class="tableCell">
                        {{ 'manageProjectsProjectMentor' | translate }}
                    </th>
                    <th class="tableCell sortable" sortable='submissionDate'>
                        {{ 'manageProjectsProjectSubmissionDate' | translate }}
                    </th>
                    <th ng-show="showFeedback" class="tableCell">
                        {{ 'manageProjectsProjectFeedback' | translate }}
                    </th>
                    <th ng-show="showScore" class="tableCell">
                        {{ 'manageProjectsProjectScore' | translate }}
                    </th>
                    <th ng-show="showAcceptReject && isReviewed" class="tableCell">
                         {{ 'manageProjectsProjectAction' | translate }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <!--<tr class="tableRow" grid-item ng-class-odd="rowA" ng-class-even="rowB" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">-->
                <tr class="tableRow" grid-item ng-class-odd="rowA" ng-class-even="rowB">
                    <td ng-show="showSelect" class="tableCell">
                        <input type="checkbox" ng-change="getSelectedProjects($index)" ng-model="item.selected"/>
                    </td>
                    <td class="tableCell">
                        <a href="#" ng-click="openProjectDetails(item._id)" ng-bind="item.startupName"></a>
                    </td>
                    <td class="tableCell" ng-bind="getItemNametById(projectStatusArray,item.status)"></td>
                    <td class="tableCell">
                        <a href="#" ng-bind="item.mentors[0].username" ng-click="openProfile(item.mentors[0].username)"> Mentor</a>
                    </td>
                    <td class="tableCell" ng-bind="item.submissionDate | date:'yyyy-MM-dd h:mma'"></td>
                    <td ng-show="showFeedback" class="tableCell">
                        <a href="#"  ng-click="openFeedback(item)"> {{ 'manageProjectsProjectShowFeedback' | translate }}</a>
                    </td>
                    <td ng-show="showScore" class="tableCell" ng-bind="item.score"></td>
                    <td ng-show="showAcceptReject && isReviewed" class="tableCell">
                        <button ng-disabled="item.status ==5" type="button" class="actionBtn btn greenBtn pull-right" ng-click="changeProjectStatus(item,5)">{{ 'manageProjectsProjectActionAccept' | translate }}</button>
                        <button ng-disabled="item.status ==4" type="button" class="actionBtn btn dangerBtn pull-right" ng-click="changeProjectStatus(item,4)">{{ 'manageProjectsProjectActionReject' | translate }}</button>
                    </td>

                </tr>
                </tbody>
            </table>
            <form class="form-inline pull-right margin-bottom-basic">
                <div class="form-group">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="form-group items-per-page">
                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
                    <select id="itemsOnPageSelect2" class="form-control input-sm"
                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
                            ng-change="reloadGrid()">
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
            </form>
        </div>
        <div ng-if="registeredUser" class="alert alert-danger SuccessMsgPopup text-center">{{currentErrorMessage}}</div>
    </div>
</div>
</div>