<div style="background-color:#171547; height:800px; position: relative; display : flex; align-items : center; border: 2px solid #171547;
    border-radius: 25px;">
	<div style="background-color:#ffffff; height:90%; width:80%;  margin: auto; vertical-align: middle; align:center; position: absolute; z-index:100;border: 2px solid #ffffff; border-radius: 25px;">
    	<img src="https://lh3.googleusercontent.com/bDVcdWP54OXymI4AN3icYY7fKPJDkmDc9f4yF1oC9lCQiIrx8jN6MksOlbCDCdM9TLzr-bkLLemE-X9vueOXtmHf43-LQVDoKazS-bq3VPWJ0EDNtuUaLKnDG9T6JKSA-Ssp2RnKLw=w2400" alt="Logo" 
    	style="display: block; margin: auto;">
    	
    	
		<img src="https://lh3.googleusercontent.com/S0S2uC10za_uo0hSQ1RwMGYomyStfD0cJf8inPb-zjkvguJqMLFZa5Ze7Noxqg0tsZIu2N96Dgrdb_Tbac2sa-29hzDcc8Rggwh5HeganpuVV_ohkpWL6viB10DEih_H159K4pmd6g=w2400" alt="divider" style="display: block; margin: auto; margin-bottom:15px ;margin-top:20px;max-width: 50%;position: relative"/>
		<br/>
    	
    	
    	<div style="margin-bottom:10px">
    		<strong>
    			<span style="line-height:150%;font-size:20px;color:#171547">Dear <%=user.firstName +" "+user.surname%>,</span>
			</strong>
    	</div>
    	
    	<div>
    		<span style="line-height:150%;font-size:16px;color:#171547">
				Thank you for your interest in FEPS Business Incubator.
				<br/>
				The business issue you have submitted on "FEPS BI Website" has been administered.
				You are kindly requested to visit our <a href="http://fepsbi.cairouniv.net/fepsIncubator/home">Website</a>
				 to check the expert's response.
				<br/>
				Please do not hesitate to contact or send us if you have further inquiries.


			</span>
    	</div>
    	
    	<div dir="rtl">
    		<span style="line-height:150%;font-size:16px;font-weight: 500;color:#171547">				
				نود أن نشكر سيادتكم لاهتمامكم بحاضنة أعمال كلية الاقتصاد و العلوم السياسية.
				<br/>
				لقد تم التعامل مع مشكلة العمل الخاصة بكم المرسلة علي موقعنا الإلكتروني. 
				<br/>
				نرجو من سيادتكم زيارة 
				<a href="http://fepsbi.cairouniv.net/fepsIncubator/home">موقعنا الإلكتروني</a>
				للتحقق من رأي أحد خبرائنا
				<br/>
				لا تترددوا في الاتصال بنا في حال لديكم أي استفسارات أخري. 						
			 </span>
    	</div>
    	
    	<br/>
    	
    	

    	
		<div style="margin-top:10px">
    		<strong>
				<span style="line-height:150%;font-size:20px;color:#171547">
					Best regards,
					<br/>
					FEPS Business Incubator Team
				</span>
			</strong>
    	</div>
	
	</div>

</div>