<div style="background-color:#171547; height:800px; position: relative; display : flex; align-items : center; border: 2px solid #171547;
    border-radius: 25px;">
	<div style="background-color:#ffffff; height:90%; width:80%;  margin: auto; vertical-align: middle; align:center; position: absolute; z-index:100;border: 2px solid #ffffff; border-radius: 25px;">
    	<img src="https://lh3.googleusercontent.com/PWQI8Xdrjc8HE-A4yFbeN_-t85h1yeQLs6epfj21yEip0azYSxrSSodM98IFN0S_g91zuLkOIvL4lMY8CvulAJeTI3y8UkqNu5arAFZLCrUZP4iAK0fm_DGQaSDYTHGblzZqH3vTUnOlYZALMJXdmaqxLohV3kQIA3Bg6pvmfTi1bzI-4EL0eHJvOvzcDQ-gSQcIAOoH_I9HjATRXn4ExmYcrn493yGORFNilBIQaovHnFIbSvTqa1T0BbrTIpUrVuPabxIPzijKGvbyGb-LKU75BgrNGb_Ofmcl5NizDh571hm9RS6VITp2B2LRjRBxGI_gzRMevkHLCMDoBdHQcryhOCTt-IMpk4C7NS69n_YEyBUwY7kE8_xbl0KOO3qlVVMRdr0tyMD0rk2NoSjaMBfxlZk3kNWnRJ6MTI1AevibKNocOkL7E4oLRQ5AQULC1diiHAYFNPGeoLWyvfrNjxVKHNBk2h4IcLzvbpON1AO-0QLB8rjWfXuTV-tFEsUxqUd9dLU4LaeY5uNsT9DoWDYXknTGF4USzciqW8W3rvkbqK3t3Jm-8r97KMiw7DZMkQ6sUg-kd8A9AkBAKtAmjq9RkyyBnUduM3rJgZk=w111-h174-no" alt="Logo" 
    	style="display: block; margin: auto;">
    	
    	
		<img src="https://lh3.googleusercontent.com/KJ6SYX2wI6BkHDoHH5YUeRALyzmXT2tqWqLGL9bgD1IRePBgB9D4gewWIAj28AEGzd8VDpr89jegB8yfhs3atxScHlf4R80j7-5-NXJWvuI-mT-X9qUz3_XSRao_WL9W0-X0RnFBmiJ2AIWd5Te4igKDaQf7L9SSAQyw7s9cs5-WJYjBy_AwnH7X_NQ5j83t-qvBXGdm8pIJyBwUsqb9xzQTZGvz_f5th2vqv2J3RZl5lGdswbSjH6Q1jEMv-PEAd2buyNo_CwJG_n3tJMOAY0d1wPizCilY7Z4TjzKTWd_6xqThqp5uvA7eKfQb4SlGoDGj9IC57JEkjP0eAV8FaougAPsJ6PeBV5Rho_Sd3yLsxXVQuyXLdDWXPgsRDgq8H9TMhc05jTYKiY_ZwP1tuCxJZohLIH0BsLSlunNGacEeWcG39hVw_iPfN4H1eo-jr8GprbuQLU3U34Y7VRUNtzr9WPg0qxSTnZlR1DjF7z516k3O_vTID9a3DtNo6VxiJljzYYIrkAveqV6NdPc_Kd9-bPezLwvM_-4qrroLfNh6jE6ehjK8FDRY8atuGh2gt2p2ztNoR3SZPubn8gJwT62WxG_h7KHzznfbaMg=w545-h11-no" alt="divider" style="display: block; margin: auto; margin-bottom:15px ;margin-top:20px;max-width: 50%;position: relative"/>
		<br/>
    	
    	
    	<div style="margin-bottom:10px">
    		<strong>
    			<span style="line-height:150%;font-size:20px;color:#171547">Dear <%=user.firstName +" "+user.surname%>,</span>
			</strong>
    	</div>
    	
    	<div>
    		<span style="line-height:150%;font-size:16px;color:#171547">
				Thank you for your interest in FEPS Business Incubator.
				<br/>
				The business issue you have submitted on "FEPS BI Website" has been administered.
				You are kindly requested to visit our <a href="http://fepsbi.cairouniv.net/fepsIncubator/home">Website</a>
				 to check the expert's response.
				<br/>
				Please do not hesitate to contact or send us if you have further inquiries.


			</span>
    	</div>
    	
    	<div dir="rtl">
    		<span style="line-height:150%;font-size:16px;font-weight: 500;color:#171547">				
				نود أن نشكر سيادتكم لاهتمامكم بحاضنة أعمال كلية الاقتصاد و العلوم السياسية.
				<br/>
				لقد تم التعامل مع مشكلة العمل الخاصة بكم المرسلة علي موقعنا الإلكتروني. 
				<br/>
				نرجو من سيادتكم زيارة 
				<a href="http://fepsbi.cairouniv.net/fepsIncubator/home">موقعنا الإلكتروني</a>
				للتحقق من رأي أحد خبرائنا
				<br/>
				لا تترددوا في الاتصال بنا في حال لديكم أي استفسارات أخري. 						
			 </span>
    	</div>
    	
    	<br/>
    	
    	

    	
		<div style="margin-top:10px">
    		<strong>
				<span style="line-height:150%;font-size:20px;color:#171547">
					Best regards,
					<br/>
					FEPS Business Incubator Team
				</span>
			</strong>
    	</div>
	
	</div>

</div>