<h1>Hello</h1>
<h2>project <%=project.startupName%> status has been changed into <%=project.status === 4?'Rejected' : ''%> <%=project.status === 5?'Accepted' : ''%> <%=project.status === 3?'Reviewed' : ''%></h2>
