<div class="SignUpContainer" ng-controller="signupController" data-ng-init="init()">
    <div class="container">
        <h2 class="mainTitle text-center">{{'SignUp' | translate}}</h2>
        <form name="signUp">
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'firstName' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name='firstName' ng-model="newUser.firstName" required ng-trim="false"
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.firstName.$dirty && signUp.firstName.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.firstName.$error.required">{{'Fname_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.firstName.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Sur_Name' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name='surName' ng-model="newUser.surname" required ng-trim="false"
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.surName.$dirty && signUp.surName.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.surName.$error.required">{{'Surname_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.surName.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            
             <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'firstNameArabic' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name='arabicFirstName' ng-model="newUser.arabicFirstName" required ng-trim="false"
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.arabicFirstName.$dirty && signUp.arabicFirstName.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.arabicFirstName.$error.required">{{'Fname_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.arabicFirstName.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Sur_NameArabic' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name='arabicSurName' ng-model="newUser.arabicSurName" required ng-trim="false"
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.arabicSurName.$dirty && signUp.arabicSurName.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.arabicSurName.$error.required">{{'Surname_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.arabicSurName.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            
            
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label>{{ 'editNewsSelectImg' | translate }}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                    <div class="uploader pull-right" ng-show="!profileImageUploaded">
                        <input type="file" class="pull-right" ngf-select="noProfileImageSelected = false" ng-model="profileImageFile" name="profileImageFile" ngf-pattern="image/png,image/jpg,image/jpeg"
                               accept="image/png,image/jpg,image/jpeg" ngf-max-size="500KB" ngf-min-height="100"
                               ngf-resize="{width: 200, height: 200}" ng-disabled="viewMode == 3" >

                        <button class="btn btn-success" ng-disabled="noProfileImageSelected || signUp.profileImageFile.$invalid" type="button" ng-click="uploadProfileImage()">{{ 'uploadFile' | translate }}</button>
                        <button class="btn btn-success" ng-show = "profileImageAttachment.id" type="button" ng-click="profileImageUploaded = true">{{ 'editNewsCancelBtn' | translate }}</button>
                        <div class="clearfix"></div>
                        <span class="smallLabel">( {{ 'imageSizeLabel' | translate }} ) </span>
                    </div>
                    <div ng-show="profileImageUploaded">
                        <img ng-src="{{imageSource}}">
                        <button  class="btn btn-success" type="button" ng-click="profileImageUploaded = false" ng-disabled="viewMode == 3" >{{ 'editProfileImage' | translate }}</button>
                    </div>
                    <div class="alert alert-danger pull-left" ng-show="signUp.profileImageFile.$dirty && !signUp.profileImageFile.$invalid && !profileImageUploaded">
                        <span>{{ 'addprojectUploadAttachment' | translate }}</span><br>
                    </div>
                    <div class="alert alert-danger pull-left" ng-show="signUp.profileImageFile.$dirty && signUp.profileImageFile.$invalid">
                        <span ng-show="signUp.profileImageFile.$error.pattern">{{ 'imageFileErrorVal' | translate }}</span>
                        <span ng-show="signUp.profileImageFile.$error.maxSize">{{ 'imageFileMaxSizeError' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Email' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="email" name='email' ng-model="newUser.email" required ng-pattern="/^(\w[-._\w]*\w@\w[-._\w]*\w\.\w{2,3})/" ng-trim="false"
                           ng-maxlength="50">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.email.$dirty && signUp.email.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.email.$error.required">{{'Email_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.email.$error.email">{{'Email_Error_Validate_Msg' | translate}}</span>
                        <span ng-show="signUp.email.$error.pattern && !signUp.email.$error.email">{{'Email_Error_Validate_Msg' | translate}}</span>
                        <span ng-show="signUp.surName.$error.maxlength">{{'Email_Error_Length_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Username' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="username" ng-model="newUser.username" ng-trim="false"
                           ng-pattern="/^[a-zA-Z0-9]{6,20}$/" required>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.username.$dirty && signUp.username.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.username.$error.required">{{'Username_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.username.$error.pattern">{{'Username_Error_Validate_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Password' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="password" name="password" ng-model="newUser.password"
                           ng-trim="false" ng-pattern="/^(?=^.{8,30}$)(?!.*\s)[0-9a-zA-Z!@#${}=\-\\?:><%*()_+^&\[\]]*$/"
                           required>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.password.$dirty && signUp.password.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.password.$error.required">{{'Password_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.password.$error.pattern">{{'Password_Error_Validate_Msg' | translate}}</span>
                    </div>
                </div>

            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'ConfirmPassword' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="password" name="confirmPass" ng-model="newUser.confirmPass"
                           password-verify="newUser.password" required>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.confirmPass.$dirty && signUp.confirmPass.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.confirmPass.$error.required">{{'Confirm_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.confirmPass.$error.passwordVerify">{{'Confirm_Error_Validate_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Phone_Number' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="phoneNum" ng-model="newUser.phone"
                           ng-pattern="/^\+?(?=.*\d)[0-9]{11,16}$/" required
                           placeholder="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.phoneNum.$dirty && signUp.phoneNum.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.phoneNum.$error.required">{{'Phone_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.phoneNum.$error.pattern">{{'Phone_Error_Validate_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label>{{'Birth_Date' | translate}}*</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <p class="input-group pull-right width100">
                        <input type="text" class="form-control pull-right" ng-disabled="viewMode == 3"
                               uib-datepicker-popup="{{format}}" placeholder="DD-MMMM-YYYY" name="birthDate" ng-model="newUser.birthdate"
                               ng-required="true" is-open="DatePickerPopup.opened" datepicker-options="dateOptions"
                               close-text="Close" alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn pull-right">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.birthDate.$dirty && signUp.birthDate.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.birthDate.$error.required">{{'Birht_Error_Msg' | translate}}</span>
                        <span ng-show="!signUp.birthDate.$valid">{{'Birth_validate_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Gender' | translate}}*</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">

                    <div class="pull-right radioDiv">
                        <input type="radio" name="gender" class="pull-right" ng-model="newUser.gender" value="m"
                               required>
                        <div class="radioText pull-right">{{'Male' | translate}}</div>
                    </div>
                    <div class="pull-right radioDiv">
                        <input type="radio" name="gender" class="pull-right" ng-model="newUser.gender" value="f"
                               required>
                        <div class="radioText pull-right">{{'Female' | translate}}</div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.gender.$dirty && signUp.gender.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.gender.$error.required">{{'Gender_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'University' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="university" ng-model="newUser.university" required
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.university.$dirty && signUp.university.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.university.$error.required">{{'University_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.university.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Faculty' | translate}}* </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="faculty" ng-model="newUser.faculty" required
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.faculty.$dirty && signUp.faculty.$invalid">
                    <div class="alert alert-danger">
                    	<span ng-show="signUp.faculty.$error.required">{{'Faculty_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.faculty.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Profession' | translate}}*</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="profession" ng-model="newUser.profession" required
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.profession.$dirty && signUp.profession.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.profession.$error.required">{{'Profession_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.profession.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Major' | translate}}*</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="major" ng-model="newUser.major" required
                           ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.major.$dirty && signUp.major.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.major.$error.required">{{'Major_Error_Msg' | translate}}</span>
                        <span ng-show="signUp.major.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Graduation_Year' | translate}}*</label>
                    <div class="clearfix"></div>
					<span class="smallLabel"> {{ 'Graduation_Year_Desc' | translate }} </span>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <p class="input-group pull-right width100">
                        <input type="text" class="form-control pull-right" ng-disabled="viewMode == 3"
                               uib-datepicker-popup="{{format}}" name="graduationDate" placeholder="DD-MMMM-YYYY" ng-model="newUser.graduationYear"
                               ng-required="true" is-open="DatePickerPopup2.opened" datepicker-options="dateOptions2"
                               close-text="Close" alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn pull-right">
                            <button type="button" class="btn btn-default" ng-click="openDatePicker2()"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4 pull-right">
                    <div class="alert alert-danger"
                         ng-show="signUp.graduationDate.$dirty && signUp.graduationDate.$invalid">
                        <span ng-show="signUp.graduationDate.$error.required">{{'Graduation_Error_Msg' | translate}}</span>
                        <span ng-show="!signUp.graduationDate.$valid">{{'Graduation_validate_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-sm-12 pull-right">
                    <label> {{'Linked_In' | translate}} </label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-sm-12 pull-right">
                    <input type="text" name="linkedIn" ng-model="newUser.linkedIn"
                           ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                     ng-show="signUp.linkedIn.$dirty && signUp.linkedIn.$invalid">
                    <div class="alert alert-danger">
                        <span ng-show="signUp.linkedIn.$error.pattern">{{'LinkedIn_Error_Msg' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="row sectionRow" ng-show="errorMessage == 'systemDown'">
                <div class="alert alert-danger">
                    <span>{{'loginFailed_SystemDown' | translate}}</span>
                </div>
            </div>
            <div class="row sectionRow" ng-show="errorMessage == 'user_already_exists'">
                <div class="alert alert-danger">
                    <span>{{'user_already_exists' | translate}}</span>
                </div>
            </div>
            <div class="row sectionRow" ng-show="errorMessage">
                <div class="alert alert-danger">
                    <span>{{errorMessage | translate}}</span>
                </div>
            </div>
        </form>
        <div class="row sectionRow btnsDiv">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="btn btn-default pull-left" ng-click="cancelSignUp()">{{'cancelBtn' |
                    translate}}
                </button>
                <button type="button" class="btn btn-success pull-left" ng-click="doSignUp()">{{'submitBtn' |
                    translate}}
                </button>
            </div>
        </div>
    </div>
</div>

