/* services page styles */

.howToApply-container{
    .imgDiv{

        img{
            margin: 20px;
        }

    }
    .textDiv{
        padding: 20px;
        font-size: 20px;
        line-height: 166px;
    }
}
