<div id="howToApply" class="howToApply-container container" ng-controller="jobsController" ng-init="init()">
    <h2 class="mainTitle">
        {{'jobsTitle' | translate}}
    </h2>
    <div ng-show="!currentUser">
    	<div class="alert alert-warning col-md-12  text-center">
            	{{ 'signUptoViewJobsMsg' | translate  }} ,<a href="#" ng-click="gotoSignUp()">{{"signUptoEnrollbtn" | translate}}</a> 
        </div>
    </div>
    <div ng-repeat="job in jobsList | orderBy: '-createDate' track by $index" ng-show="currentUser">
        <div class="jobListItem col-md-12 col-lg-12  col-xl-12 col-sm-12 col-xs-12" >
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
                    {{'jobTitle'| translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
                    {{job.jobTitle}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
                    {{'jobOwner'| translate}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
                    {{job.jobOwnerMail}}
                    <a  href="#" class="pull-left" ng-click="goToDetailsPage(job._id)">
                        {{'readMore' | translate}} >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>