/*manage Users  En Styles*/


.searchInputRow{

    width:310px;
    height:30px;
    margin:10px auto;

    label{
        padding: 5px 10px;
        height: 30px;
        margin-bottom: 0;
    }
}

.rtl{
    
    /*manage Users  Ar Styles*/

}

