/* SignIn popup  styles */


#loginModal{

  h2.mainTitle {
    padding-bottom: 30px;
    background-color: $themeColor3;
    color: #fff !important;
    margin-top: 0;
    padding-top: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 45px;
  }

  .closeBtn{
    width:30px;
    height:30px;
    background-image: url('../../img/icon-close.png');
    background-size: 100%;
    position: absolute;
    top:25px;
    right:25px;
  }
  .sectionRow{
    margin: 20px 50px;
  }

  div input {
    border: 1px $themeColor3 solid;
    border-radius: 5px;
    padding: 0 5px;
    height: 25px;
  }
  div input{
    width: 302px;
    height: 33px;
  }

  div label {

    color: $themeColor3;
    font-size: 16px
  }

  .alert{
    padding: 5px 15px;
    margin-top: 15px;
    margin-bottom: 0;
  }

  .links{
    padding: 5px ;
    span{
      color: #5aa700;
      margin: 5px;
      font-size: 16px;
    }
    a{
      color: #5aa700;
      margin: 5px;
      font-size: 16px;
      text-decoration: underline;
    }
  }


}
/* arabic style */

.rtl{

  #loginModal{

    .closeBtn{
      right:auto;
      left:25px;

    }

  }

}

/* responsive styles  */




@media (max-width: 750px)  {
  #loginModal {
    div input {
        width:250px
    }
  }
}