<div class="manage-cycle-container container" ng-controller="ManageCycleController" data-ng-init="init()">
    <h2 class="mainTitle">{{ 'manageCycleMainTitle' | translate }}</h2>
    <!-- Side Nav -->
    <div class="tabsConatiner col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
        <ng-include src="'components/adminSideMenu/adminSideMenu.view.html'" ng-controller="adminSideMenuController"></ng-include>
    </div>
    <!-- Content -->
    <div class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
      <div ng-if="isAdmin">
          <p class="manageCycleData">
                {{ 'manageCycleAddCycleParagraph' | translate }}
          </p>
         <button class="addCycleBtn" ng-click="addCycle()" ng-disabled="flagIsCycle">{{ 'manageCycleAddCycleBtn' | translate }}</button>
          <div class="addCycleContent" ng-show="flagIsCycle">
            <p class="manageCycleData">
                {{ 'manageCycleAddCycleContentParagraph' | translate }}
            </p>
              <div class="cycleFlowContainer">
              <div class="cycleFlowinner">
                  <div ng-class="cycle.currentPhase=='Start'? 'CycleMove' : 'CycleMove disabled'" ng-disabled="!(cycle.currentPhase=='Start')" ng-click="cycle.currentPhase !='Start' ||movePhase('Admission')" value="Admission">{{ 'manageCycleAddCycleStart' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Admission'? 'CycleBtn' : 'CycleBtn disabled'">{{ 'manageCycleAddCycleStep1' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Admission'? 'CycleMove' : 'CycleMove disabled'" ng-disabled="!(cycle.currentPhase=='Admission')" ng-click="cycle.currentPhase !='Admission' || movePhase('Revision')"  value="Revision" >{{ 'manageCycleAddCycleMove' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Revision'? 'CycleBtn' : 'CycleBtn disabled'" >{{ 'manageCycleAddCycleStep2' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Revision'? 'CycleMove' : 'CycleMove disabled'" ng-disabled="!(cycle.currentPhase=='Revision')" ng-click="cycle.currentPhase !='Revision' || movePhase('Incubation')" value="Incubation">{{ 'manageCycleAddCycleMove' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Incubation'? 'CycleBtn' : 'CycleBtn disabled'" >{{ 'manageCycleAddCycleStep3' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Incubation'? 'CycleMove' : 'CycleMove disabled'" ng-disabled="!(cycle.currentPhase=='Incubation')" ng-click="cycle.currentPhase !='Incubation' || movePhase('Closure')" value="Closure">{{ 'manageCycleAddCycleMove' | translate }}</div>
                  <div ng-class="cycle.currentPhase=='Closure'? 'CycleBtn' : 'CycleBtn disabled'"  >{{ 'manageCycleAddCycleStep4' | translate }}</div>
              </div>
              <div class="cycleFlowinnerSecondLevel">
                  <div class="div50"></div>
                  <div class="div80">  Admission <br> {{cycle.admissionDate | date:'dd-MM-yyyy'}}</div>
                  <div class="div50"></div>
                  <div class="div80">  Review <br>{{cycle.revisionDate | date:'dd-MM-yyyy'}}</div>
                  <div class="div50"></div>
                  <div class="div80"> Incubator<br>{{cycle.incubationDate | date:'dd-MM-yyyy'}}</div>
                  <div class="div50"></div>
                  <div class="div80"> Close <br>{{cycle.closureDate | date:'dd-MM-yyyy'}}</div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="!isAdmin" class="alert alert-danger SuccessMsgPopup text-center">{{ 'notAuthorized' | translate }}</div>
    </div>            
</div>