<div class="manage-news-landing-page-container manage-cycle-container container" ng-controller="manageEventsController" data-ng-init="init()">
    
    <h2 class="mainTitle">{{ 'manageEventsMainTitle' | translate }}</h2>
    <div class="tabsConatiner col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
        <ng-include src="'components/adminSideMenu/adminSideMenu.view.html'" ng-controller="adminSideMenuController"></ng-include>
    </div>
    
    <!-- Content -->
    <div class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right" ng-show="noEvents">
    	<div ng-if="isAdmin" class="createNewsBtn"  ng-click="addEvent()">{{ 'manageEventsAddEventsBtn' | translate }}</div>
	    <div ng-if="isAdmin" class="marginTop50 alert alert-danger text-center col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
	        {{ 'noEventssMsg' | translate  }}
	    </div>
	    <div ng-if="!isAdmin" class="alert alert-danger SuccessMsgPopup text-center">{{ 'notAuthorized' | translate }} </div>
    </div>
    <div ng-show="!noEvents" class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
        <div ng-if="isAdmin" grid-data grid-options="eventsGridOptions" grid-actions="gridActions" class="tableContainer">
            <div class="createNewsBtn"  ng-click="addEvent()">{{ 'manageEventsAddEventsBtn' | translate }}</div>
            <table class="">
                <thead>
                <tr class="tableRow MainRow">
                    <th class="tableCell sortable" sortable="value.topic">
                        <label class="pull-right">{{ 'topic' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable="value.eventDate">
                        <label class="pull-right">{{ 'date' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable="value.venue">
                        <label class="pull-right">{{ 'venue' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable='value.speakers[0].name'>
                    	<label class="pull-right">{{ 'guestSpeaker' | translate }}</label>
                    </th>
                    
                    <th class="tableCell sortable" sortable='value.acceptedEnrollments.length'>
                    	<label class="pull-right">{{ 'enrollmentsSize' | translate }}</label>
                    </th>
                    
                    <th class="tableCell sortable" sortable='value.pendingEnrollments.length'>
                    	<label class="pull-right">{{ 'enrollmentRequestsSize' | translate }}</label>
                    </th>
                    
                    <th  class="tableCell">
                             <label>{{ 'manageNewsTableLableAction' | translate }}</label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">
                    <td class="tableCell" >
                        <a href="#" ng-bind="item.value.topic" ng-click="openEventDetails(item.value._id)" ></a>
                    </td>
                    <td class="tableCell">{{item.value.eventDate| date:'yyyy-MM-dd h:mma'}}</td>
                    <td class="tableCell">{{item.value.venue}}</td>
                    <td class="tableCell">{{item.value.speakers[0].name}}</td>
                    <td class="tableCell">
                    	<a href="#" ng-click="viewEnrollmentRequests(item,0)">{{item.value.acceptedEnrollments.length}}</a>
                    </td>																   
                    <td class="tableCell">
                    	<a href="#" ng-click="viewEnrollmentRequests(item,1)">{{item.value.pendingEnrollments.length}}</a>
                    </td>
                    <td class="tableCell">
                         <div class="actionBtn btn dangerBtn"  ng-click="deleteEvent($index)">{{ 'manageNewsTableLableActionDelete' | translate }}</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <form class="form-inline pull-right margin-bottom-basic">
                <div class="form-group">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="form-group items-per-page">
                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
                    <select id="itemsOnPageSelect2" class="form-control input-sm"
                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
                            ng-change="reloadGrid()">
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
            </form>
        </div>
        <div ng-if="!isAdmin" class="alert alert-danger SuccessMsgPopup text-center">{{ 'notAuthorized' | translate }} </div>
    </div>
    
</div>