<div class="SignUpContainer" ng-controller="ForgetPasswordController">
    <div class="container">
        <form name="forgetPassword">
            <div ng-if="!isResetPassword">
                <h2 class="mainTitle text-center">{{'ForgetPassword' | translate}}</h2>
                <div class="row sectionRow">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12 pull-right">
                        <label> {{'Email' | translate}} </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 pull-right">
                        <input type="email" name='email' ng-model="forgetPasswordUser.email" required ng-trim="false"
                               ng-maxlength="50">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                         ng-show="forgetPassword.email.$dirty && forgetPassword.email.$invalid">
                        <div class="alert alert-danger">
                            <span ng-show="forgetPassword.email.$error.required">{{'Email_Error_Msg' | translate}}</span>
                            <span ng-show="forgetPassword.email.$error.email">{{'Email_Error_Validate_Msg' | translate}}</span>
                            <span ng-show="forgetPassword.surName.$error.maxlength">{{'Email_Error_Length_Msg' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="isResetPassword">
                <h2 class="mainTitle text-center">{{'resetPassword' | translate}}</h2>
                <div class="row sectionRow">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12 pull-right">
                        <label> {{'newPassword' | translate}} </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 pull-right">
                        <input type="password" name="password" ng-model="forgetPasswordUser.password"
                               ng-trim="false" ng-pattern="/^(?=^.{8,30}$)(?!.*\s)[0-9a-zA-Z!@#$%*()_+^&\[\]]*$/"
                               required>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                         ng-show="forgetPassword.password.$dirty && forgetPassword.password.$invalid">
                        <div class="alert alert-danger">
                            <span ng-show="forgetPassword.password.$error.required">{{'Password_Error_Msg' | translate}}</span>
                            <span ng-show="forgetPassword.password.$error.pattern">{{'Password_Error_Validate_Msg' | translate}}</span>
                        </div>
                    </div>

                </div>
                <div class="row sectionRow">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-sm-12 pull-right">
                        <label> {{'ConfirmPassword' | translate}} </label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 pull-right">
                        <input type="password" name="confirmPass" ng-model="forgetPasswordUser.confirmPass"
                               password-verify="forgetPasswordUser.password" required>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-sm-12 pull-right"
                         ng-show="forgetPassword.confirmPass.$dirty && forgetPassword.confirmPass.$invalid">
                        <div class="alert alert-danger">
                            <span ng-show="forgetPassword.confirmPass.$error.required">{{'Confirm_Error_Msg' | translate}}</span>
                            <span ng-show="forgetPassword.confirmPass.$error.passwordVerify">{{'Confirm_Error_Validate_Msg' | translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row sectionRow btnsDiv">
            <div class="row sectionRow" ng-show="errorMessage">
                <div class="alert alert-danger">
                    <span>{{'emailErrorCode' | translate}}</span>
                </div>
            </div>
            <div class="row sectionRow" ng-show="successMessage">
                <div class="alert alert-success">
                    <span>{{'emailSuccessCode' | translate}}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="button" class="btn btn-default pull-left" ng-click="cancelResetPassword()">{{'cancelBtn' |
                    translate}}
                </button>
                <button type="button" class="btn btn-success pull-left" ng-click="doResetPassword()">{{'resetPassword' |
                    translate}}
                </button>
            </div>
        </div>
    </div>
</div>

