<div class="edit-news-container manage-cycle-container container" ng-controller="addEditJobsController" data-ng-init="init()">
	<h2 class="mainTitle">{{'jobsTitle' | translate}}</h2>

	<!-- Side Nav -->
	<div class="tabsConatiner col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
		<ng-include src="'components/adminSideMenu/adminSideMenu.view.html'" ng-controller="adminSideMenuController"></ng-include>
	</div>
	<!-- Content -->
	<div class="contentConatainer  col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
		<form name="addJob">
		   <div class="editNewsContainer jobsFormDiv col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">


			   <div class="row sectionRow">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <label> {{'jobTitle' | translate}}* </label>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <input type="text" class="editNewsTitle width100" placeholder="{{ 'jobTitle' | translate }}"
						value="{{newJob.jobTitle}}" ng-model="newJob.jobTitle" name ='jobTitle' required ng-trim="false"
						ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#${}=\-\\//?:><%*,.'\s()_+^&\[\]]{5,100}$/">
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
						<div class="alert alert-danger" ng-show="addJob.jobTitle.$dirty && addJob.jobTitle.$invalid">
							<span ng-show="addJob.jobTitle.$error.required">{{'jobsTitle_Error_Msg' | translate}}</span>
							<span ng-show="addJob.jobTitle.$error.pattern">{{'jobsTitleInvalid_Error_Msg' | translate}}</span>
						</div>
				   </div>
			   </div>
			   <div class="row sectionRow">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <input type="checkbox" ng-model="newJob.isLinked" checked="newJob.isLinked" />
					    <label> {{'jobisLinked' | translate}}* </label>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">

				   </div>
			   </div>
			   <div class="row sectionRow" ng-show="newJob.isLinked">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <label> {{'jobProject' | translate}}* </label>{{addJob.projectName.length}}
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <input type="text" class="editNewsTitle pull-right" placeholder="{{ 'jobProject' | translate }}"
							  value="{{newJob.projectName}}" ng-model="newJob.projectName" name='projectName' ng-trim="false" ng-required="newJob.isLinked"
							  ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#${}=\-\\//?:><%*,.'\s()_+^&\[\]]{5,100}$/">

					    <button class="btn btn-success jobSearchBtn pull-right" ng-click="jobProjectSearch()" ng-disabled="addJob.projectName.$invalid " >{{ 'jobProjectSearch' | translate }}</button>

                       <div class="alert alert-danger pull-left" ng-show="noProjectFound">{{'noProjectFound' | translate}} </div>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <div class="alert alert-danger" ng-show="addJob.projectName.$dirty && addJob.projectName.$invalid">
						   <span ng-show="addJob.projectName.$error.required">{{'jobProject_Error_Msg' | translate}}</span>
						   <span ng-show="addJob.projectName.$error.pattern">{{'jobProjectInvalid_Error_Msg' | translate}}</span>
					   </div>
				   </div>
			   </div>
			   <div class="row sectionRow">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <label> {{'jobOwnerMail' | translate}}* </label>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <input type="text" class="editNewsTitle width100" placeholder="{{ 'jobOwnerMail' | translate }}"
							  value="{{newJob.jobOwnerMail}}" ng-disabled="!jobOwnerMailDisable" ng-model="newJob.jobOwnerMail" name ='jobOwnerMail' required ng-pattern="/^(\w[-._\w]*\w@\w[-._\w]*\w\.\w{2,3})/" ng-trim="false" ng-maxlength="100">
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <div class="alert alert-danger" ng-show="addJob.jobOwnerMail.$dirty && addJob.jobOwnerMail.$invalid">
						   <span ng-show="addJob.jobOwnerMail.$error.required">{{'jobOwner_Error_Msg' | translate}}</span>
						   <span ng-show="addJob.jobOwnerMail.$error.pattern">{{'jobOwnerInvalid_Error_Msg' | translate}}</span>
					   </div>
				   </div>
			   </div>
			   <div class="row sectionRow hide">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <label> {{'jobPostingDate' | translate}}* </label>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <p class="input-group width100">
						   <input type="text" class="form-control" ng-disabled="viewMode == 3" placeholder="DD-MMMM-YYYY" uib-datepicker-popup="{{format}}" name="createDate" ng-model="newJob.createDate" is-open="DatePickerPopup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
						   <span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
					   </p>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <div class="alert alert-danger" ng-show="addJob.createDate.$dirty && addJob.createDate.$invalid">
						   <span ng-show="addJob.createDate.$error.required">{{'jobPostingDate_Error_Msg' | translate}}</span>
						   <span ng-show="addJob.createDate.$error.pattern">{{'jobPostingDateInvalid_Error_Msg' | translate}}</span>
					   </div>
				   </div>
			   </div>
			   <div class="row sectionRow">
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <label> {{'jobSkills' | translate}}* </label>
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   
			   			<textarea class="editNewsBody col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" placeholder="{{ 'jobSkills' | translate }}"
								 data-gramm="false" ng-model="newJob.skills" name='skills' required
								 ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.'\s()_+^&\[\]]{5,3000}$/">
							{{newJob.skills}}</textarea>
				   
				   
				   </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
					   <div class="alert alert-danger" ng-show="addJob.skills.$dirty && addJob.skills.$invalid">
						   <span ng-show="addJob.skills.$error.required">{{'jobSkills_Error_Msg' | translate}}</span>
						   <span ng-show="addJob.skills.$error.pattern">{{'jobSkillsInvalid_Error_Msg' | translate}}</span>
					   </div>
				   </div>
			   </div>


		   </div>
	   </form>
		<div class="actionBtnsContainer col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pull-right">
			<div class="okBtn filledBtn" ng-click="addJobEntry()">{{ 'editNewsUpdateBtn' | translate }}</div>
			<div class="cancelBtn outLineBtn" ng-click="doCancel()">{{ 'editNewsCancelBtn' | translate }}</div>
		</div>
	</div>
</div>
