<div id="services" class="container services-container" ng-controller="servicesController">
    <h2 class="mainTitle">
        {{'servicesTitle' | translate }}
    </h2>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 imgDiv pull-right">
            <img src="../../../img/icon-serv-incubation.png" class="img-responsive" alt="incubation" />
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 textDiv pull-right">
            <h2>{{'Service1' | translate}}</h2>
            <p>
                {{'Service1Desc' | translate}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 imgDiv pull-right">
            <img src="../../../img/icon-serv-awareness.png"  class="img-responsive" alt="incubation" />
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 textDiv pull-right">
            <h2>{{'Service2' | translate}}</h2>
            <p>
                {{'Service2Desc' | translate}}
            </p>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 imgDiv pull-right">-->
            <!--<img src="../../../img/icon-serv-recruitment.png"  class="img-responsive" alt="awareness" />-->
        <!--</div>-->
        <!--<div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 textDiv pull-right">-->
            <!--To be a Center of Excellence and a Hub for Entrepreneurial Best Practices in the Egyptian-->
            <!--Public Universities and Regionally in the Middle East and North Africa.-->
            <!--To be a Center of Excellence and a Hub for Entrepreneurial Best Practices in the Egyptian-->
            <!--Public Universities and Regionally in the Middle East and North Africa.-->
            <!---->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 imgDiv pull-right">
            <img src="../../../img/icon-serv-clinic.png"  class="img-responsive" alt="clinic" />
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9 textDiv pull-right">
            <h2>{{'Service3' | translate}}</h2>

            <p>
                {{'Service3Desc' | translate}}
            </p>

        </div>
    </div>
</div>