<div class="footerContainer">
	<div class="container">
		<div class="row hidden-sm hidden-xs">
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left">
			
				<a href="fepsIncubator/contactus" class="pull-left">{{ 'contactusTitle' | translate}}</a>
				<span  class="pull-left">|</span>
				<a href="fepsIncubator/termsAndConditions" class="pull-left">{{ 'termsConditionTitle' | translate}}</a>
				
				
			</div>
			
			<div class="buttons col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left">
				<a class="FbBtn hidden-sm hidden-xs  " href="https://www.facebook.com/FEPSBI/" >
						<img alt="facebookLogo" src="img/facebook.png">
				</a> 
				<a class="InstaBtn hidden-sm hidden-xs  " href="https://www.instagram.com/feps_bi/" >
						<img alt="instagramLogo" src="img/instagram.png">
				</a>
				<!-- <a class="YoutubeBtn hidden-sm hidden-xs  " href="https://www.facebook.com/FEPSBI/" >
					<img alt="youtubeLogo" src="img/youtube.png">
				</a>
				 -->
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-left">
				<span class="pull-right">
					{{ 'footerRights' | translate }}
				</span>
				
			</div>
		</div>
	</div>
	<div class="row hidden-md hidden-lg">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left text-center">
			<a href="fepsIncubator/contactus">{{ 'contactusTitle' | translate}}</a>
			<span>|</span>
			<a href="fepsIncubator/termsAndConditions">{{ 'termsConditionTitle' | translate}}</a>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left text-center">
			{{ 'footerRights' | translate }}
		</div>
	</div>
</div>