/* Add Member page styles */


#addmember2{
    background-color: red!important;
}

#addMember{

    .sectionRow{
        margin:10px 0;

        div input {
            border: 1px $themeColor3 solid;
            border-radius: 5px;
            padding: 0 5px;
            height: 25px;
        }

        div label{

            color: $themeColor3;
            font-size:16px
        }

    }



    .membersGridContainer{
        background-color: #d1d0da;
        width: 90%;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        .membersGridHeader{
            background-color: $themeColor3;
            border-radius: 15px;
            margin: 0;
            div label{
                color: #fff;
                padding: 5px;
            }
        }
        .membersGridRows{
            background-color: #e8e8ed;
            border-radius: 15px;
            margin: 3px 0;
            div label{
                color: #5aa700;
                padding: 5px;
                height:30px;
                line-height: 30px;
            }
            div input[type="radio"]{
                margin: 10px;
                height: 15px;
                width: 15px;

            }

        }
        .membersGridRows.even{
            background-color: #fafafb!important;
        }
    }

    .btnsDiv{
        button{
            margin: 10px;
        }
    }
}






/* arabic Styles */



/*  Responsive Styles */