@charset "UTF-8";
/* cairo-600 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/CairoBold/cairo-v1-arabic-600.eot");
  /* IE9 Compat Modes */
  src: local("Cairo SemiBold"), local("Cairo-SemiBold"), url("../fonts/CairoBold/cairo-v1-arabic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/CairoBold/cairo-v1-arabic-600.woff2") format("woff2"), url("../fonts/CairoBold/cairo-v1-arabic-600.woff") format("woff"), url("../fonts/CairoBold/cairo-v1-arabic-600.ttf") format("truetype"), url("../fonts/CairoBold/cairo-v1-arabic-600.svg#Cairo") format("svg");
  /* Legacy iOS */
}

/* cairo-light - arabic */
@font-face {
  font-family: 'CairoLight';
  font-style: normal;
  src: url("../fonts/CairoLight/Cairo-Light.eot");
  /* IE9 Compat Modes */
  src: local("Cairo-Light"), url("../fonts/CairoLight/Cairo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CairoLight/Cairo-Light.woff2") format("woff2"), url("../fonts/CairoLight/Cairo-Light.woff") format("woff"), url("../fonts/CairoLight/Cairo-Light.ttf") format("truetype"), url("../fonts/CairoLight/Cairo-Light.svg#Cairo-Light") format("svg");
  /* Legacy iOS */
}

/*main styles start*/
body {
  background-color: #fff;
  font-family: Cairo;
}

.rtl {
  direction: rtl !important;
}

.rtl .en {
  display: none;
}

.rtl .text-left {
  text-align: right;
}

.ltr {
  direction: ltr !important;
}

.ltr .ar {
  display: none;
}

.modal {
  display: block;
}

.nav-tabs {
  border: 0;
  padding-left: 15px;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
  background-color: #d1d0da;
}

.wrapword, .tableContainer .tableRow .tableCell {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap;
  /*Chrome & Safari */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.width100 {
  width: 100%;
}

.no-marginBot {
  margin-bottom: 0;
}

.marginTop50 {
  margin-top: 50px;
}

.header-lg {
  height: 190px;
  position: relative;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  background-color: #dddced;
}

.header-lg .logo {
  margin-top: 5px;
}

.header-lg .logo img {
  height: 175px;
}

.header-lg .langBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #8e8bbf;
  font: normal 14px Cairo;
  padding: 5px 10px;
  border: 0;
  border-radius: 0;
}

.header-lg .manageWebsiteBtn {
  position: absolute;
  top: 0px;
  left: 75px;
}

.header-lg .manageWebsiteBtn button {
  background-color: #8e8bbf;
  font: normal 14px Cairo;
  padding: 5px 10px;
  border: 0;
  border-radius: 0;
  color: #fff;
}

.header-lg .userDetailsDiv {
  width: 100%;
}

.header-lg .userDetailsDiv img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-color: #74739d;
  border-radius: 50%;
  border: 2px #74739d solid;
}

.header-lg .userDetailsDiv .username {
  font: normal 20px Cairo;
  color: #171547;
  text-decoration: none;
}

.header-lg .userDetailsDiv .username:hover {
  text-decoration: none;
}

.header-lg .userDetailsDiv .userLinks {
  width: 130px;
  height: 20px;
  margin: 0 auto;
}

.header-lg .userDetailsDiv .userLinks a {
  color: #972064;
  font: normal 14px/20px Cairo;
  padding: 0 5px;
}

.header-lg .userDetailsDiv .userLinks span {
  color: #972064;
  font: normal 14px/20px Cairo;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar .navbar-toggle {
  border-color: #fff;
}

.navbar-nav {
  float: right;
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  margin-top: 70px;
}

.navbar {
  margin-bottom: 0px;
  padding: 0;
  list-style-type: none;
}

.navbar li {
  float: right;
  color: #171547;
  font: bold 18px Cairo;
  height: 40px;
}

.navbar li a {
  float: right;
  padding: 3px 10px;
  text-decoration: none;
  font: bold 18px/34px Cairo;
  color: #171547 !important;
}

.navbar li a:hover, .navbar li a:focus {
  color: #972064 !important;
  background-color: transparent;
}

.navbar li span {
  float: right;
  line-height: 40px;
}

.navbar li.last span {
  display: none;
}

.login {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 260px;
}

.login button {
  color: #fff;
  background-color: #972064;
  font: bold 16px Cairo;
}

.login button:hover {
  color: #fff;
  background-color: #972064;
}

.login button:focus {
  color: #fff;
  background-color: #972064;
}

.footerContainer {
  background-color: #dddced;
  padding: 15px;
  margin-top: 40px;
}

.footerContainer span {
  color: #171547;
}

.footerContainer a {
  color: #171547;
  margin: 0 5px;
  text-decoration: underline;
}

.footerContainer a:hover {
  color: #171547;
  text-decoration: none;
}

.footer-section-header {
  background-color: #ced728;
}

.footer-section-header-title {
  color: #fff;
  font: normal 28px/48px Cairo;
}

.footer {
  background-color: #fff;
}

.IBMfooter {
  background-color: #fff;
  padding-top: 30px;
}

.IBMfooter .container {
  border-top: 1px #9e9c9c solid;
}

.IBMfooter h4 {
  color: #000;
  font: normal 24px/48px Cairo;
  margin: 0 0 -30px;
}

#signUptoEnrollModal {
  padding: 40px;
  border: 2px #171547 solid;
  margin: 10px;
  border-radius: 7px;
}

#signUptoEnrollModal button {
  margin: 10px;
}

#confirmationModal {
  padding: 40px;
  border: 2px #171547 solid;
  margin: 10px;
  border-radius: 7px;
}

#confirmationModal button {
  margin: 10px;
}

.SuccessMsgPopup {
  margin: 15px !important;
}

/* generic calendar styles*/
.sectionRow p.input-group input.form-control {
  width: auto;
  height: auto;
  padding: 6px 5px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  margin: 0;
}

.sectionRow p.input-group span.input-group-btn {
  float: left;
}

.sectionRow p.input-group span.input-group-btn button {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rtl .sectionRow p.input-group input.form-control {
  width: auto;
  height: auto;
  padding: 6px 5px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
  direction: ltr;
  text-align: right;
}

.rtl .sectionRow p.input-group span.input-group-btn {
  float: right;
}

.rtl .sectionRow p.input-group span.input-group-btn button {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rtl .header-lg .userDetailsDiv .userLinks {
  width: 145px;
}

.rtl .header-lg .userDetailsDiv img {
  margin-left: 10px;
  margin-right: 0;
}

.rtl .uib-daypicker table {
  direction: ltr;
}

/* generic grid styles  */
.membersGridContainer {
  background-color: #d1d0da;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.membersGridContainer .membersGridHeader {
  background-color: #171547;
  border-radius: 15px;
  margin: 0;
}

.membersGridContainer .membersGridHeader div label {
  color: #fff;
  padding: 5px;
  height: 50px;
  line-height: 40px;
}

.membersGridContainer .membersGridHeader input[type="checkbox"] {
  height: 40px;
}

.membersGridContainer .membersGridRows {
  background-color: #e8e8ed;
  border-radius: 15px;
  margin: 3px 0;
}

.membersGridContainer .membersGridRows label {
  color: #5aa700;
  padding: 5px;
  height: 50px;
  line-height: 40px;
}

.membersGridContainer .membersGridRows a {
  color: #5aa700;
  padding: 5px;
  height: 50px;
  line-height: 40px;
}

.membersGridContainer .membersGridRows a :hover {
  color: red;
}

.membersGridContainer .membersGridRows span {
  color: #171547;
  padding: 5px;
  height: 50px;
  line-height: 40px;
}

.membersGridContainer .membersGridRows button {
  margin: 7px;
}

.membersGridContainer .membersGridRows button:hover {
  opacity: 0.6;
}

.membersGridContainer .membersGridRows input[type="checkbox"] {
  height: 30px;
}

.membersGridContainer .membersGridRows.even {
  background-color: #fafafb !important;
}

/* generic pager styles */
.paginationContainer {
  margin: 20px 0;
  display: inline-block;
  clear: both;
  float: none;
  margin: 20px auto;
  width: 100%;
}

.paginationContainer .pagination {
  display: table;
  margin: auto;
  padding: 0;
}

.paginationContainer .pagination li.disabled {
  opacity: 0.4;
}

.paginationContainer .pagination li.pagination-prev a::before {
  content: "\e079";
  font-family: Glyphicons Halflings;
  font-size: 12px;
}

.paginationContainer .pagination li.pagination-next a::after {
  content: "\e080";
  font-family: Glyphicons Halflings;
  font-size: 12px;
}

.paginationContainer .pagination li.active a {
  color: #72a63d;
}

.paginationContainer .pagination li a {
  background: none;
  border: none;
  color: #171547;
  padding: 5px;
}

/* generic actions Btns */
.actionBtn {
  background: #fff;
  border: 1px solid;
  border-radius: 30px;
  width: auto;
  padding: 2px 10px;
  display: inline-block;
  cursor: pointer;
}

.actionBtn.greenBtn {
  color: #72a63d;
}

.actionBtn.dangerBtn {
  color: #e5227c;
}

.actionBtn:hover {
  opacity: 0.5;
}

input.searchInput {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  background-image: url("../../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: auto 85%;
  padding-left: 30px;
}

.jobListItem {
  padding: 25px;
  border: 1px #ccc solid;
  border-radius: 10px;
  margin: 5px 0;
}

.jobListItem div {
  padding: 3px;
}

/* home page  styles */
#home {
  margin-top: 0px;
}

.top-section {
  /*height:460px*/
}

.carousel {
  margin-bottom: 0 !important;
}

.carousel img {
  width: 100% !important;
  margin-bottom: -1px !important;
}

.carousel-control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(124, 54, 114, 0.5);
  opacity: 1;
  text-shadow: none;
  top: 50%;
  margin-top: -20px;
  font-size: 0;
  text-indent: -20000em;
  cursor: pointer;
}

.carousel-control .glyphicon-chevron-right:before {
  content: '';
}

.carousel-control .glyphicon-chevron-left:before {
  content: '';
}

.carousel-control.left {
  background-image: url("../../img/arrows.png");
  background-position: left center;
  left: 30px;
}

.carousel-control.right {
  background-image: url("../../img/arrows.png");
  background-position: right center;
  right: 30px;
}

.carousel-indicators {
  bottom: 0px;
  margin-bottom: 5px;
  padding: 0;
}

.carousel-indicators li {
  margin: 1px 3px;
}

.top-section-inner {
  width: 94%;
  background: rgba(151, 32, 100, 0.6);
  margin: 0px;
  padding: 17px;
  color: #fff;
  font: normal 24px/32px Cairo;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.top-section-inner a {
  text-decoration: underline;
}

.top-section-inner-sm {
  width: 100%;
  margin: 0 auto;
  background: rgba(151, 32, 100, 0.6);
  padding: 10px;
  color: #fff;
  font: normal 28px/47px Cairo;
  position: absolute;
  bottom: 50px;
  left: 0px;
}

.top-section-inner-sm a {
  text-decoration: underline;
  color: #fff;
}

.top-section-inner-sm a:hover {
  color: #fff;
}

.middle-section-header {
  background-color: #ee8b21;
  height: 48px;
  text-align: center;
}

.middle-section-header-title {
  color: #fff;
  font: normal 28px/48px Cairo;
}

.middle-section {
  background-color: #ffc313;
  /*height:350px;*/
  padding: 30px 0 30px;
}

.middle-section h3 {
  color: #fff;
  font: normal 24px/32px Cairo;
  margin: 10px 0;
}

.middle-section a:hover {
  color: #fff;
}

.middle-section-header-title {
  color: #fff;
  font: normal 28px/48px Cairo;
}

.bottom-section-header {
  background-color: #171547;
  height: 48px;
  text-align: center;
}

.bottom-section-header-title {
  color: #fff;
  font: normal 28px/48px Cairo;
}

.bottom-section {
  background: url("../../img/bottom-section-bg.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.bottom-section .searchEventsDiv {
  height: 70px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  margin: 10px auto 50px;
  padding: 10px 15px;
}

.bottom-section .searchEventsDiv input.searchInput {
  height: 50px;
  width: 85%;
  border: 0;
  border-bottom: 1px #3c3c3c solid;
  padding: 10px;
  margin: 0 10px;
  font-size: 30px;
  display: inline-block;
  float: right;
  border-radius: 0;
  background-image: none;
}

.bottom-section .searchEventsDiv button.searchButton {
  width: 10%;
  height: 50px;
  background-image: url(../../img/icon-search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 0;
  background-color: transparent;
}

.bottom-section .carousel-control {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(23, 21, 71, 0.5);
  opacity: 1;
  text-shadow: none;
  top: 50%;
  margin-top: -20px;
  font-size: 0;
  text-indent: -20000em;
  cursor: pointer;
}

.bottom-section .bottom-section-inner {
  width: 100%;
  background: rgba(23, 21, 71, 0.85);
  margin: 0px;
  padding: 17px;
  color: #fff;
  font: normal 28px/47px Cairo;
}

.bottom-section .bottom-section-inner .newsDate {
  background: rgba(255, 255, 255, 0.5);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  font-size: 27px;
  color: #171547;
  margin: 0 auto;
}

.bottom-section .bottom-section-inner .newsDate .newsDateMonth {
  font-size: 20px;
}

.bottom-section .bottom-section-inner .newsDesc {
  font-size: 23px;
}

.acceptedProjectDiv {
  background: url("../../img/acceptedProjectsBG.png") center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.acceptedProjectDiv .acceptedProjectsInnerDiv {
  background-color: rgba(160, 168, 4, 0.85);
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

.acceptedProjectDiv .acceptedProjectsInnerDiv a {
  color: #fff;
}

.acceptedProjectDiv .acceptedProjectsInnerDiv a p {
  line-height: 75px;
  padding: 30px 25px;
  font-size: 20px;
  color: #fff;
}

.acceptedProjectDiv .acceptedProjectsInnerDiv a:hover {
  color: #fff;
}

@media (max-width: 750px) {
  #home {
    margin-top: 0;
  }
  .bottom-section .searchEventsDiv {
    width: 100%;
  }
  .bottom-section .searchEventsDiv input.searchInput {
    width: 80%;
  }
  .bottom-section .carousel-control {
    top: 16% !important;
  }
}

/* About us page styles */
.aboutUsContainer {
  min-height: 100vh;
  color: #171547;
  text-align: center;
  padding: 0;
}

.aboutUsContainer h2.mainTitle {
  color: #fff;
}

.aboutUsSec {
  margin-bottom: 60px;
  height: auto;
  overflow: hidden;
}

h4.subTitle {
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
}

h4.subTitle.vision {
  background-color: #171547;
  color: #ffc312;
}

h4.subTitle.mission {
  background-color: #171547;
  color: #0c8c46;
}

h4.subTitle.team {
  background-color: #171547;
  color: #972064;
}

p.content {
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}

img.memberImg {
  border: 15px solid;
  border-radius: 50%;
  width: 146px;
  height: 146px;
}

.teamMemberContainer {
  margin: 40px 0px;
}

.teamMemberContainer.yellow {
  color: #171547;
}

.teamMemberContainer.pink {
  color: #171547;
}

.teamMemberContainer.orange {
  color: #171547;
}

.teamMemberContainer.yellow img {
  background-color: #ffc313;
}

.teamMemberContainer.pink img {
  background-color: #972064;
}

.teamMemberContainer.orange img {
  background-color: #ee8b21;
}

.Membertitle {
  color: #171547;
}

.MemberName {
  padding-top: 12px;
  font-size: 20px;
  font-weight: bold;
}

/*news and events Mfarag En Styles*/
.greenLink {
  width: auto;
  display: block;
  color: #2f9559;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.greenLink:hover {
  text-decoration: none;
  color: #2f9559;
}

.news-events-container {
  font-family: Cairo;
}

.news-events-container .newsDtails {
  text-align: left;
}

.news-events-container .newsDtails p {
  color: #6e6a6a;
  font-family: CairoLight;
  font-size: 15px;
  text-align: justify;
}

.news-events-container .newsDtails h4.subTitle {
  margin-top: 0;
  padding: 0;
  color: #6e6a6a;
}

.news-events-container .newsDtails a.moreBtn {
  color: #2f9559;
}

.news-events-container .newsDtails .seeMoreBtnContainer {
  display: inline-block;
}

.news-events-container p.newsContent.lastLine {
  display: inline;
}

.news-events-container .eventContainer.visionContainer {
  padding: 30px 0;
  border-bottom: 1px #171547 dotted;
}

.news-events-container .eventContainer.visionContainer img.newsPhoto {
  width: 200px;
}

/*news and events Details screen styles Mfarag*/
.news-events-details-container {
  padding: 0;
}

.news-events-details-container .bannerMainContainer {
  height: 20vh;
  position: relative;
  padding: 0;
}

.news-events-details-container .bannerMainContainer .bannerContainer .eventBannerBgContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.news-events-details-container .bannerMainContainer .bannerContainer .mask {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.9);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.news-events-details-container .eventNewsDetailsContainer {
  top: auto;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 0 30px;
  text-shadow: rgba(0, 0, 0, 0.65) 0px 0 2px;
}

.news-events-details-container .eventNewsDetailsContainer .eventDetails {
  margin: 20px 0;
}

.news-events-details-container .eventNewsDetailsContainer .eventDetails h5 {
  display: inline;
  padding: 0px 8px;
}

.news-events-details-container .belowSection {
  background-color: #fff;
  padding: 20px 35px;
  font-family: CairoLight;
  color: #6e6a6a;
  min-height: 45vh;
  font-size: 16px;
  height: auto;
}

.news-events-details-container .belowSection .newsEventsParagraphsContainer .newsContent {
  text-align: justify;
}

.news-events-details-container .belowSection .newsEventsParagraphsContainer .newsContent img {
  margin: 0 0 0 20px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .newsContent {
  text-align: justify;
}

.news-events-details-container .belowSection .eventsDetailsContianer .eventImgDiv img {
  width: 100%;
  border: 3px #333 solid;
  border-radius: 10px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .speakerInfo label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .speakerInfo label, .news-events-details-container .belowSection .eventsDetailsContianer .speakerInfo span {
  line-height: 60px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .speakerInfo img {
  width: 60px;
  height: 60px;
  border: 3px #333 solid;
  border-radius: 10px;
  margin: 0 15px 0 0;
}

.news-events-details-container .belowSection .eventsDetailsContianer .speakerInfo .SpeakerName {
  line-height: 60px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .venueInfo label {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.news-events-details-container .belowSection .eventsDetailsContianer .venueInfo label, .news-events-details-container .belowSection .eventsDetailsContianer .venueInfo span {
  line-height: 60px;
}

.news-events-details-container .belowSection .enroleBtn {
  width: 100%;
  margin: 20px 0;
}

.news-events-details-container .responsePopup {
  text-align: center;
}

.news-events-details-container .responsePopup .modal-content {
  padding: 45px;
}

.news-events-details-container .responsePopup .modal-body {
  color: #6e6a6a;
}

.news-events-details-container .responsePopup .btn-default {
  background: #ced728;
  border-radius: 16px;
  padding: 10px 40px;
  border: none;
  color: #fff;
}

.manageEnrollCont {
  padding: 20px;
}

/*newa and events Mfarag AR Styles*/
.rtl .nav-tabs {
  padding-right: 15px;
}

.rtl .nav-tabs li {
  float: right;
}

.rtl .news-events-container .eventContainer.visionContainer img.newsPhoto {
  float: right;
}

.rtl .news-events-container .eventContainer.visionContainer .newsDtails {
  float: right;
  text-align: right;
}

.rtl .eventsDetailsContianer .speakerInfo img {
  margin: 0 0 0 15px !important;
}

.rtl .news-events-details-container .eventNewsDetailsContainer h4.subTitle {
  float: right;
  margin-top: 0;
  padding: 0;
}

.rtl .news-events-details-container .eventNewsDetailsContainer .eventDetails .dateInfo {
  float: right;
}

.rtl .news-events-details-container .newsEventsParagraphsContainer a.enroleBtn {
  float: right;
}

/*advisory-board list Mfarag En Styles*/
.advisory-board-list-container {
  text-align: center;
  font-family: Cairo;
}

.advisory-board-list-container .adviserBoardMember {
  min-height: 150px;
  height: auto;
  margin-bottom: 50px;
}

.advisory-board-list-container .adviserBoardMember img.memberPhoto {
  max-width: 146px;
  max-height: 146px;
  width: 100%;
  border-radius: 50%;
  border: 8px solid #972064;
}

.advisory-board-list-container .adviserBoardMember .adviserBoardMemberDtails {
  text-align: left;
  color: #6e6a6a;
  display: flow-root;
}

.advisory-board-list-container .adviserBoardMember .adviserBoardMemberDtails .memberBio {
  font-family: CairoLight;
  display: inline;
}

.advisory-board-list-container .adviserBoardMember .adviserBoardMemberDtails .seeMoreBtnContainer {
  display: inline-block;
}

.advisory-board-list-container .adviserBoardMember.ManagerContainer {
  height: auto;
  margin-bottom: 50px;
}

.advisory-board-list-container .adviserBoardMember.ManagerContainer .memberName {
  margin-top: 10px;
}

.advisory-board-list-container .adviserBoardMember.ManagerContainer .adviserBoardMemberDtails {
  text-align: center;
}

/*advisory-board details Mfarag En Styles*/
.advisory-board-details-container {
  padding: 35px 20px;
}

.advisory-board-details-container .memberPhotoContainer img.memberPhoto {
  max-width: 146px;
  max-height: 146px;
  width: 100%;
  border-radius: 50%;
  border: 8px solid #972064;
}

.advisory-board-details-container .adviserBoardMemberDtails {
  text-align: left;
  color: #6e6a6a;
  display: flow-root;
}

.advisory-board-details-container .adviserBoardMemberDtails .memberBio {
  font-family: CairoLight;
  display: block;
}

.rtl {
  /*advisory-board list Mfarag AR Styles*/
  /*advisory-board details Mfarag AR Styles*/
}

.rtl .advisory-board-list-container .adviserBoardMember .memberPhotoContainer {
  float: right;
}

.rtl .advisory-board-list-container .adviserBoardMember .adviserBoardMemberDtails {
  float: right;
  text-align: right;
}

.rtl .advisory-board-list-container .adviserBoardMember.ManagerContainer .adviserBoardMemberDtails {
  float: none;
  text-align: center;
}

.rtl .advisory-board-details-container .memberPhotoContainer {
  float: right;
}

.rtl .advisory-board-details-container .adviserBoardMemberDtails {
  float: right;
  text-align: right;
}

/* SignIn popup  styles */
#loginModal h2.mainTitle {
  padding-bottom: 30px;
  background-color: #171547;
  color: #fff !important;
  margin-top: 0;
  padding-top: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 45px;
}

#loginModal .closeBtn {
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon-close.png");
  background-size: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
}

#loginModal .sectionRow {
  margin: 20px 50px;
}

#loginModal div input {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 25px;
}

#loginModal div input {
  width: 302px;
  height: 33px;
}

#loginModal div label {
  color: #171547;
  font-size: 16px;
}

#loginModal .alert {
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

#loginModal .links {
  padding: 5px;
}

#loginModal .links span {
  color: #5aa700;
  margin: 5px;
  font-size: 16px;
}

#loginModal .links a {
  color: #5aa700;
  margin: 5px;
  font-size: 16px;
  text-decoration: underline;
}

/* arabic style */
.rtl #loginModal .closeBtn {
  right: auto;
  left: 25px;
}

/* responsive styles  */
@media (max-width: 750px) {
  #loginModal div input {
    width: 250px;
  }
}

/* SignUp page  styles */
.SignUpContainer h2.mainTitle {
  color: #fff;
}

.SignUpContainer .closeBtn {
  width: 30px;
  height: 30px;
  background-image: url("../../img/icon-close.png");
  background-size: 100%;
  position: absolute;
  top: 25px;
  right: 25px;
}

.SignUpContainer .sectionRow {
  margin: 20px 50px;
}

.SignUpContainer div input {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 25px;
}

.SignUpContainer div input[type="text"], .SignUpContainer div input[type="password"], .SignUpContainer div input[type="email"], .SignUpContainer div input[type="date"], .SignUpContainer div input[type="file"], .SignUpContainer div select {
  width: 300px !important;
  height: 33px;
}

.SignUpContainer div textarea {
  margin: 10px 0;
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 5px;
  width: 300px;
}

.SignUpContainer div label {
  color: #171547;
  font-size: 16px;
}

.SignUpContainer .radioText {
  width: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #171547;
}

.SignUpContainer .radioDiv input {
  margin: 0;
}

.SignUpContainer .alert {
  padding: 5px 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.SignUpContainer .links {
  padding: 5px;
}

.SignUpContainer .links span {
  color: #5aa700;
  margin: 5px;
  font-size: 16px;
}

.SignUpContainer .links a {
  color: #5aa700;
  margin: 5px;
  font-size: 16px;
  text-decoration: underline;
}

.SignUpContainer .btnsDiv button {
  margin: 10px;
}

.SignUpContainer .profilePic {
  border-radius: 50%;
  border: 2px #74739d solid;
}

.SignUpContainer .uploader button {
  margin: 0 0 0 10px;
}

.modal-content .SignUpContainer .sectionRow {
  margin: 20px 0;
}

.modal-content .SignUpContainer .sectionRow textarea {
  margin: 0;
}

/* arabic style */
.rtl #loginModal .closeBtn {
  right: auto;
  left: 25px;
}

.rtl .SignUpContainer .uploader button {
  margin: 0 10px 0 0;
}

/* responsive styles  */
@media (max-width: 750px) {
  .SignUpContainer .sectionRow {
    margin: 10px 0;
  }
}

/*mentors List Mfarag En Styles*/
.mentors-list-container .rowOfCardsContainer {
  display: inline-block;
  width: 100%;
}

.mentors-list-container .cardItem.mentorCardConatianer {
  margin: 10px 0;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner {
  background: #171547;
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 5px #8e8a8a;
  color: #fff;
  padding: 7px;
  display: table;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .mentorName {
  font-size: 20px !important;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg {
  padding: 30px;
  background: none;
  border: none;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg .detailsItem {
  margin: 15px 0;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg .detailsItem a {
  color: #fff;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg .detailsItem a:hover {
  text-decoration: none;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg .detailsItem h4 {
  margin: 0;
}

.mentors-list-container .cardItem.mentorCardConatianer .cardInner .cardCollapsed.cardContent .well-lg .detailsItem h4 a {
  text-decoration: underline;
}

.mentors-list-container .collapsExbandBtn {
  display: table;
  float: none;
  margin: 15px auto;
  width: auto;
  text-align: center;
}

.mentors-list-container .collapsExbandBtn.btn-default {
  border: none;
  background: none;
  color: #171547;
}

.mentors-list-container .collapsExbandBtn .collapsExpandIcon {
  display: table-cell;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.5);
}

.mentors-list-container .collapsExbandBtn .collapsExpandIcon:hover {
  cursor: pointer;
}

.mentors-list-container .collapsExbandBtn .active.glyphicon-chevron-down:before {
  content: "" !important;
}

.mentors-list-container .imgMask {
  width: 100%;
  height: 180px;
}

.mentors-list-container .imgMask img.mentorImg {
  width: 50%;
  margin: 20px;
}

/*mentors List  Mfarag AR Styles*/
/* Add Project page styles */
.sectionTitle {
  color: #72a63d;
  padding: 10px;
  border-bottom: 1px #171547 dotted;
}

#addProject .sectionRow {
  margin: 10px 0;
}

#addProject .sectionRow div input {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 25px;
  margin: 10px 0;
}

#addProject .sectionRow div input[type="text"] {
  width: 150px;
}

#addProject .sectionRow div input[type="file"] {
  width: 250px;
}

#addProject .sectionRow div select {
  width: 150px;
}

#addProject .sectionRow div label {
  color: #171547;
  font-size: 16px;
}

#addProject .sectionRow div textarea {
  margin: 10px 0;
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

#addProject .sectionRow h5 {
  font-size: 20px;
  font-weight: bold;
}

#addProject .sectionRow a {
  color: #5aa700;
}

#addProject .sectionRow .radioText {
  width: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #171547;
}

#addProject .sectionRow .radioDiv input {
  margin: 0;
}

#addProject .sectionRow p.input-group input.form-control {
  width: auto;
  height: auto;
  padding: 6px 5px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  float: left;
  margin: 0;
}

#addProject .sectionRow p.input-group span.input-group-btn {
  float: left;
}

#addProject .sectionRow p.input-group span.input-group-btn button {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#addProject .sectionRow .btn.btn-success {
  margin: 4px 0 0 20px;
}

#addProject .membersGridContainer {
  width: 50%;
}

#addProject .sectionRow2 {
  margin: 10px 0;
}

#addProject .sectionRow2 div input {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 25px;
  margin: 10px 0;
}

#addProject .sectionRow2 div label {
  color: #171547;
  font-size: 16px;
  width: 40%;
}

#addProject .sectionRow2 div textarea {
  margin: 10px 0;
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

#addProject .sectionRow2 .alert-danger {
  margin-top: 10px;
}

#addProject .sectionRow2 div input[type="url"] {
  width: 250px;
}

#addProject .btnsDiv button {
  margin: 10px;
}

/* arabic Styles */
.rtl #addProject .sectionRow p.input-group input.form-control {
  width: auto;
  height: auto;
  padding: 6px 5px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right;
}

.rtl #addProject .sectionRow p.input-group span.input-group-btn {
  float: right;
}

.rtl #addProject .sectionRow p.input-group span.input-group-btn button {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rtl #addProject .sectionRow .btn.btn-success {
  margin: 4px 20px 0 0;
}

/*  Responsive Styles */
@media (max-width: 992px) {
  #addProject .sectionRow2 div label {
    width: 100%;
  }
}

/* Add Member page styles */
#addmember2 {
  background-color: red !important;
}

#addMember .sectionRow {
  margin: 10px 0;
}

#addMember .sectionRow div input {
  border: 1px #171547 solid;
  border-radius: 5px;
  padding: 0 5px;
  height: 25px;
}

#addMember .sectionRow div label {
  color: #171547;
  font-size: 16px;
}

#addMember .membersGridContainer {
  background-color: #d1d0da;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

#addMember .membersGridContainer .membersGridHeader {
  background-color: #171547;
  border-radius: 15px;
  margin: 0;
}

#addMember .membersGridContainer .membersGridHeader div label {
  color: #fff;
  padding: 5px;
}

#addMember .membersGridContainer .membersGridRows {
  background-color: #e8e8ed;
  border-radius: 15px;
  margin: 3px 0;
}

#addMember .membersGridContainer .membersGridRows div label {
  color: #5aa700;
  padding: 5px;
  height: 30px;
  line-height: 30px;
}

#addMember .membersGridContainer .membersGridRows div input[type="radio"] {
  margin: 10px;
  height: 15px;
  width: 15px;
}

#addMember .membersGridContainer .membersGridRows.even {
  background-color: #fafafb !important;
}

#addMember .btnsDiv button {
  margin: 10px;
}

/* arabic Styles */
/*  Responsive Styles */
/*brief case events page Mfarag En Styles*/
.event-detailsFrom-briefCase-container {
  color: #6e6a6a;
}

.event-detailsFrom-briefCase-container img {
  top: 42px;
}

.event-detailsFrom-briefCase-container .eventSpeakerContainer, .event-detailsFrom-briefCase-container .eventContainer {
  display: inline-block;
  min-height: 150px;
  height: auto;
  width: 100%;
  margin: 15px 0px;
}

.event-detailsFrom-briefCase-container .eventSpeakerContainer .speakerDtails .speakerTitle, .event-detailsFrom-briefCase-container .eventContainer .speakerDtails .speakerTitle {
  padding-top: 0;
  padding-bottom: 5px;
  margin: 0;
}

.event-detailsFrom-briefCase-container .eventSpeakerContainer .speakerBio, .event-detailsFrom-briefCase-container .eventContainer .speakerBio {
  font-family: CairoLight;
}

.event-detailsFrom-briefCase-container .eventContainer .eventDetailsContainer {
  padding: 0;
}

.event-detailsFrom-briefCase-container .eventContainer .eventDetailsContainer div {
  padding: 0;
}

.event-detailsFrom-briefCase-container .eventContainer .eventDetailsContainer .eventDataLabel {
  font-size: 17px;
  color: #4c4c4c;
}

.event-detailsFrom-briefCase-container .eventContainer .newsDtails .eventDetailedInfo {
  padding: 0;
  font-family: CairoLight;
}

.event-detailsFrom-briefCase-container .backtoBriefCase {
  text-align: right;
  margin: 10px 0;
  padding: 0px 30px;
  height: auto;
  display: inline-block;
  color: #72a63d;
  cursor: pointer;
}

.floatRight, .rtl .event-detailsFrom-briefCase-container img, .rtl .event-detailsFrom-briefCase-container .eventContainer .newsDtails, .rtl .event-detailsFrom-briefCase-container .speakerDtails, .rtl .event-detailsFrom-briefCase-container .eventDetailsContainer, .rtl .event-detailsFrom-briefCase-container .eventDetailsContainer span, .rtl .event-detailsFrom-briefCase-container .backtoBriefCase {
  float: right;
}

/*brief case events page Mfarag Ar Styles*/
.rtl .event-detailsFrom-briefCase-container .eventDetailsContainer span {
  direction: rtl;
}

.rtl .event-detailsFrom-briefCase-container .backtoBriefCase {
  text-align: left;
}

.removeDefaultBtnOptions, .collapseItem .collapsExbandBtn, .collapseItem .collapsExbandBtn:active, .collapseItem .collapsExbandBtn:visited, .collapseItem .collapsExbandBtn:focus, .collapseItem .collapsExbandBtn:hover, .collapseItem .collapseBody .well {
  background: transparent;
  border: none;
  box-shadow: none;
}

/*collapse container styles En mFarag*/
.collapseItem .collapsExbandBtn {
  color: #171547;
}

.collapseItem .collapsExbandBtn h3 {
  pointer-events: none;
  display: inline-block;
  margin: 0;
  line-height: 42px;
}

.collapseItem .collapsExbandBtn .collapsExpandIcon {
  pointer-events: none;
  padding: 10px;
  border-radius: 50%;
  border: solid 4px;
  font-size: 1em;
  margin-left: 10px;
}

.collapseItem .collapsExbandBtn .collapsExpandIcon:before {
  content: "\e080";
}

.collapseItem.active .collapsExpandIcon:before {
  content: "" !important;
}

.collapseItem .collapseBody.projectSummary {
  position: relative;
}

.collapseItem .collapseBody .well {
  background: transparent;
  border: none;
  padding: 0 5px;
  width: 75%;
  margin: 0  0 0 75px;
}

.collapseItem .collapseBody .well .collapseContentHeader {
  display: inline-block;
  height: auto;
  width: 100%;
  font-size: 14px;
}

.collapseItem .collapseBody .well .collapseContentHeader .projectTitle {
  display: inline-block;
  padding: 0;
  color: #72a63d;
  font-size: 19px;
  line-height: 42px;
  margin: 0 10px;
}

.collapseItem .collapseBody .well .collapseContentHeader .projectCtrlsIcons {
  font-size: 18px;
  margin: 4px 0;
}

.collapseItem .collapseBody .well .collapseContentHeader .projectCtrlsIcons .statusIcon {
  padding: 7px;
  border: 5px solid #ffc312;
  border-radius: 50%;
  cursor: pointer;
}

.collapseItem .collapseBody .well .projectStatusLabel {
  color: #585782;
  padding: 10px 0;
  margin: 5px 0;
}

.collapseItem .collapseBody .well .projectStatus {
  padding: 10px 20px;
  background: #ebebeb;
  color: #585782;
  border-radius: 5px;
  border: 1px solid #585782;
  margin: 5px 0;
  height: 40px;
}

.collapseItem .collapseBody .well .projectStatusContainer {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  height: auto;
}

.collapseItem .collapseBody .well .projectSummary {
  display: block;
  clear: both;
  color: #6e6a6a;
  font-family: CairoLight;
}

.floatRightClass, .rtl .collapseItem .collapseContentHeader .projectTitle, .rtl .collapseItem .projectStatusContainer .projectStatus, .rtl .collapseItem .projectStatusContainer .projectStatusLabel {
  float: right;
}

/*table styles general*/
.tableContainer {
  padding: 18px;
  background: #d1d0da;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
}

.tableContainer table {
  width: 100%;
}

.tableContainer .tableRow {
  margin-top: 8px;
  border-radius: 25px;
}

.tableContainer .tableRow.MainRow {
  background: #31304c;
  font-size: 16px;
  margin: 0;
}

.tableContainer .tableRow.MainRow .tableCell {
  color: #fff;
  font-size: 12px;
}

.tableContainer .tableRow.MainRow .tableCell.sortable {
  background: url("../../img/icon-sorting-arrows.png") no-repeat center right;
  background-size: 15px;
}

.tableContainer .tableRow.MainRow .tableCell.statusCell {
  color: #fff;
  text-align: start;
}

.tableContainer .tableRow.MainRow .tableCell.actionCell {
  color: #fff;
  text-align: end;
}

.tableContainer .tableRow.rowA {
  background: rgba(250, 250, 251, 0.9);
}

.tableContainer .tableRow.rowB {
  background: rgba(250, 250, 251, 0.5);
}

.tableContainer .tableRow .tableCell {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin: 0 1px;
  padding: 8px 10px;
  min-height: 35px;
  text-align: center;
  color: #171547;
  max-width: 200px;
}

.tableContainer .tableRow .tableCell.statusCell {
  width: calc(50% - 9px);
  color: #72a63d;
  text-align: start;
}

.tableContainer .tableRow .tableCell.withOneBorderEnd {
  border-right: none;
}

.tableContainer .tableRow .tableCell.withOneBorderStart {
  border-left: none;
}

.tableContainer .tableRow .tableCell .actionBtn {
  margin: 0 4px;
}

.tableContainer.withTwoCells .tableRow .tableCell {
  text-align: start;
}

.tableContainer.withTwoCells .tableRow .tableCell.statusCell {
  width: calc(58.33333333% - 4px);
}

/*collapse container styles Ar  mFarag*/
.rtl {
  /*table arabic styles*/
}

.rtl .collapseItem .collapsExbandBtn .collapsExpandIcon {
  margin-left: 0px;
  margin-right: 10px;
}

.rtl .collapseItem .collapsExbandBtn .collapsExpandIcon:before {
  content: "\e079";
}

.rtl .collapseItem .well {
  margin: 0 75px 0 0;
}

.rtl .tableContainer .tableRow .tableCell {
  font-size: 12px;
}

.rtl .tableContainer .tableRow .tableCell.sortable {
  background: url("../../img/icon-sorting-arrows.png") no-repeat center left;
  background-size: 15px;
}

.rtl .tableContainer .tableRow .tableCell.withOneBorderEnd {
  border-left: none;
  border-right: 1px solid #fff;
}

.rtl .tableContainer .tableRow .tableCell.withOneBorderStart {
  border-right: none;
  border-left: 1px solid #fff;
}

/*manage news landingpage Mfarag En Styles*/
.manage-news-landing-page-container .tableContainer {
  margin: 20px 0;
}

.manage-news-landing-page-container .tableContainer .tableRow.MainRow .tableCell {
  text-align: center;
  border: none;
  white-space: nowrap;
}

.manage-news-landing-page-container .tableContainer .titleCell {
  width: calc(16.66666667% - 12px);
}

.manage-news-landing-page-container .tableContainer .tableCell {
  min-height: 55px;
  display: table-cell;
  line-height: 35px;
}

.manage-news-landing-page-container .tableContainer .tableCell .newsImg {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.manage-news-landing-page-container .tableContainer .tableCell.priorityCell {
  cursor: pointer;
}

.manage-news-landing-page-container .tableContainer .tableCell.priorityCell:hover {
  opacity: 0.5;
}

.manage-news-landing-page-container .tableContainer .tableCell.actionCell {
  line-height: 16px;
  padding-top: 16px;
}

.manage-news-landing-page-container .createNewsBtn {
  margin: 0px 20px 20px 20px;
  padding: 15px 30px;
  background: #72a63d;
  border-radius: 9px;
  display: block;
  clear: both;
  float: right;
  color: #fff;
  cursor: pointer;
}

.manage-news-landing-page-container .createNewsBtn:hover {
  opacity: 0.5;
}

.inputStyle, .edit-news-container .editNewsContainer .editNewsTitle, .edit-news-container .editNewsContainer .editNewsBody, .edit-news-container .editNewsContainer .editNewsBodySum {
  margin: 10px 0;
  border-radius: 15px;
  color: #6e6a6a;
  border-color: #171547;
  transition: color 1S ease;
  transition: border-color 1S ease;
  outline: none;
}

.inputStyle:focus, .edit-news-container .editNewsContainer .editNewsTitle:focus, .edit-news-container .editNewsContainer .editNewsBody:focus, .edit-news-container .editNewsContainer .editNewsBodySum:focus {
  color: #171547;
  border-color: #ced728;
}

/*edit News Mfarag En Styles*/
.edit-news-container .uploadImagBtnContainer .hoverAction {
  opacity: 0;
  width: 87%;
  height: 100%;
  padding: 0px 15px;
  background: rgba(150, 32, 100, 0.6);
  position: absolute;
  color: #fff;
  font-size: 68px;
  text-align: center;
  transition: 2S all ease;
}

.edit-news-container .uploadImagBtnContainer .hoverAction .glyphicon {
  position: absolute;
  vertical-align: middle;
  width: auto;
  top: 30px;
  left: 31%;
  z-index: 0;
}

.edit-news-container .uploadImagBtnContainer .hoverAction input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  position: absolute;
  cursor: pointer;
}

.edit-news-container .uploadImagBtnContainer:hover .hoverAction {
  opacity: 1;
  cursor: pointer;
}

.edit-news-container .uploadImagBtnContainer .newsPhoto {
  width: 100%;
}

.edit-news-container .uploadImagBtnContainer .uploadImagLable {
  font-size: 17px;
  text-align: left;
}

.edit-news-container .editNewsContainer {
  margin-bottom: 55px;
  position: relative;
}

.edit-news-container .editNewsContainer .editNewsTitle {
  padding: 5px;
  height: 35px;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.edit-news-container .editNewsContainer .jobSearchBtn {
  margin: 10px;
}

.edit-news-container .editNewsContainer .editNewsBody {
  resize: none;
  height: 330px;
}

.edit-news-container .editNewsContainer .editNewsBodySum {
  resize: none;
  height: 100px;
}

.edit-news-container .editNewsContainer .sectionRow {
  position: relative;
}

.edit-news-container .actionBtnsContainer {
  margin: 10px 0;
}

.edit-news-container .actionBtnsContainer div {
  display: inline-block;
  width: auto;
  padding: 6px 30px;
  margin: 10px;
  border: 1px solid #72a63d;
  border-radius: 6px;
  cursor: pointer;
}

.edit-news-container .actionBtnsContainer div:hover {
  opacity: 0.5;
}

.edit-news-container .actionBtnsContainer div.outLineBtn {
  color: #72a63d;
  background: #fff;
}

.edit-news-container .actionBtnsContainer div.filledBtn {
  background: #72a63d;
  color: #fff;
}

.rtl {
  /*manage news landingpage Mfarag Ar Styles*/
  /*edit News Mfarag En Styles*/
}

.rtl .manage-news-landing-page-container .createNewsBtn {
  float: left;
}

.rtl .edit-news-container .uploadImagBtnContainer {
  float: right;
}

.rtl .edit-news-container .editNewsContainer .editNewsTitle {
  float: right;
}

.rtl .edit-news-container .actionBtnsContainer {
  float: left !important;
}

.rtl .edit-news-container .actionBtnsContainer div {
  float: left;
}

/*manage cycle Mfarag En Styles*/
.manage-cycle-container .tabsConatiner {
  padding-top: 30px;
}

.manage-cycle-container .tabsConatiner .collapseItem {
  padding: 0;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapsExpandIcon {
  margin: 10px 0px;
  cursor: pointer;
  border: none;
  padding: 0;
  display: inline-block;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapsExpandIcon:before {
  content: "\e250";
  color: #972064;
}

.manage-cycle-container .tabsConatiner .collapseItem .active .collapsExpandIcon:before {
  content: "\e252" !important;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapsHeaderTitle {
  display: inline;
  font-size: 19px;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapsHeaderTitle.active a {
  color: #972064 !important;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapseBody .well {
  height: auto;
  display: inline-block;
  margin-bottom: 15px;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapseBody .well .subTitle {
  margin-top: 0;
  font-size: 16px;
  color: #171547;
  padding: 0 25px;
  cursor: pointer;
}

.manage-cycle-container .tabsConatiner .collapseItem .collapseBody .well .subTitle.active {
  color: #972064;
}

.manage-cycle-container .contentConatainer {
  padding: 50px 20px;
}

.manage-cycle-container .contentConatainer .manageCycleData {
  font-family: CairoLight;
  color: #6e6a6a;
}

.manage-cycle-container .contentConatainer .addCycleBtn {
  margin: auto;
  padding: 10px 25px;
  width: auto;
  background: #171547;
  display: table;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.manage-cycle-container .contentConatainer .addCycleBtn:hover {
  opacity: 0.8;
}

.manage-cycle-container .contentConatainer .addCycleContent {
  margin: 20px 0px;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer {
  display: table;
  border-spacing: 25px 10px;
  text-align: center;
  margin: auto;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner {
  display: inline-block;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div.CycleBtn {
  border-radius: 50%;
  background: #972064;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div.CycleMove {
  background-image: url(/img/CycleArrowEn.png);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  color: #000;
  width: 50px;
  height: 80px;
  line-height: 50px;
  color: #83be41;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div.CycleMove.disabled {
  color: #6e6a6a;
  background-image: url(/img/CycleArrowEnDis.png);
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div:hover {
  cursor: pointer;
  opacity: 0.8;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinner div.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinnerSecondLevel div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 80px;
  height: 50px;
  line-height: 50px;
  color: #0f0f0f;
}

.manage-cycle-container .contentConatainer .addCycleContent .cycleFlowContainer .cycleFlowinnerSecondLevel div.div50 {
  width: 50px;
}

/*manage cycle Mfarag Ar Styles*/
.rtl .manage-cycle-container .tabsConatiner .collapseItem .collapsExpandIcon:before {
  content: "\e251";
}

.rtl .manage-cycle-container .addCycleContent .cycleFlowContainer .cycleFlowinner div.CycleMove {
  background-image: url(/img/CycleArrow.png);
}

.rtl .manage-cycle-container .addCycleContent .cycleFlowContainer .cycleFlowinner div.CycleMove.disabled {
  background-image: url(/img/CycleArrowDis.png);
}

/*manage Users  En Styles*/
.searchInputRow {
  width: 310px;
  height: 30px;
  margin: 10px auto;
}

.searchInputRow label {
  padding: 5px 10px;
  height: 30px;
  margin-bottom: 0;
}

.rtl {
  /*manage Users  Ar Styles*/
}

/* terms page styles */
.terms-container p {
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
}

/* Contact us page styles */
.contactus-container p {
  font-size: 18px;
  line-height: 26px;
}

/* services page styles */
.services-container .imgDiv img {
  margin: 20px;
}

.services-container .textDiv {
  padding: 20px;
  font-size: 20px;
  line-height: 28px;
}

/* services page styles */
.howToApply-container .imgDiv img {
  margin: 20px;
}

.howToApply-container .textDiv {
  padding: 20px;
  font-size: 20px;
  line-height: 166px;
}

/*main title styles Mfarag*/
.mainTitle {
  text-align: right;
  color: #fff;
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  background-color: #8e8bbf;
  padding: 7px 10px;
}

.modal-content .mainTitle {
  background-color: transparent;
  text-align: center !important;
  color: #171547 !important;
  margin-bottom: 0;
}

/* English Styles */
.ltr .pull-right, .ltr .navbar-nav, .ltr .navbar-toggle, .ltr .navbar li, .ltr .navbar li a {
  float: left !important;
}

.ltr .pull-left {
  float: right !important;
}

.ltr .langBtn {
  right: 0px;
  left: auto !important;
}

.ltr .manageWebsiteBtn {
  right: 65px;
  left: auto !important;
}

.ltr .login {
  width: 260px;
  left: auto;
  right: 0;
  bottom: -5px;
}

.ltr .text-right {
  text-align: left !important;
}

.ltr .mainTitle {
  text-align: left;
}

/* mobile styles */
@media (max-width: 992px) {
  .navbar li, .ltr .navbar li {
    float: none !important;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav li {
    width: 100%;
  }
  .navbar li span {
    display: none;
  }
  .header-lg {
    height: auto;
  }
  .header-lg .navbar {
    min-height: 80px;
  }
  .header-lg .navbar .navbar-header {
    min-height: 80px;
  }
  .navbar-collapse {
    margin-top: 0;
  }
  .login {
    bottom: -5px;
    margin: 10px 0;
  }
  .footer1 img {
    width: 100%;
  }
  .rtl .login {
    bottom: 0px;
  }
  .ltr .login {
    bottom: 0px;
  }
}
