<div  ng-controller="adminSideMenuController">
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected0}" ><a href="fepsIncubator/adminPage">{{ 'adminPageMainTitle' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected1}"><a href="fepsIncubator/manageCycle">{{ 'manageCycleMainTitle' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected2}"><a href="fepsIncubator/manageProjects"> {{ 'ManageProjectsMainTitle' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected3}"><a href="fepsIncubator/manageNews">{{ 'ManageNewMainTitleadmin' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected4}"><a href="fepsIncubator/manageUsers">{{ 'ManageUsersAddCycle' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected5}"><a href="fepsIncubator/manageEvents">{{ 'ManageEventsMainTitleadmin' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected6}"><a href="fepsIncubator/manageJobs">{{ 'ManageRecruitementMainTitle' | translate }}</a></h3>
		</div>
	</div>
	<div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div>
			<div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
			<h3 class="collapsHeaderTitle" ng-class="{active: selected7}"><a href="fepsIncubator/manageClinic">{{ 'ManageClinicMainTitle' | translate }}</a></h3>
		</div>
	</div>
</div>