<div class="manage-news-landing-page-container manage-cycle-container container" ng-controller="manageJobsController" data-ng-init="init()">
    <h2 class="mainTitle">{{adminRole.name}}</h2>
    <div class="tabsConatiner col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
        <ng-include src="'components/adminSideMenu/adminSideMenu.view.html'" ng-controller="adminSideMenuController"></ng-include>
    </div>
    <!-- Content -->
    <div class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right" ng-show="noJobs">
        <div ng-if="isAdmin" class="createNewsBtn"  ng-click="addJob()">{{ 'manageJobsAddBtn' | translate }}</div>
        <div ng-if="isAdmin" class="marginTop50 alert alert-danger text-center col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
            {{ 'noJobsMsg' | translate  }}
        </div>
        <div ng-if="!isAdmin" class="alert alert-danger SuccessMsgPopup text-center">{{ 'notAuthorized' | translate }} </div>
    </div>
    <div ng-show="!noJobs" class="contentConatainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 pull-right">
        <div ng-if="isAdmin" grid-data grid-options="jobsGridOptions" grid-actions="gridActions" class="tableContainer">
            <div class="createNewsBtn"  ng-click="addJob()">{{ 'AddJobsBtn' | translate }}</div>
            <table class="">
                <thead>
                <tr class="tableRow MainRow">
                    <th class="tableCell sortable" sortable="value.topic">
                        <label class="pull-right">{{ 'jobTitle' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable="value.eventDate">
                        <label class="pull-right">{{ 'jobOwnerMail' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable="value.venue">
                        <label class="pull-right">{{ 'jobPostingDate' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable='value.acceptedEnrollments.length'>
                        <label class="pull-right">{{ 'jobSkills' | translate }}</label>
                    </th>
                    <th class="tableCell sortable" sortable='value.pendingEnrollments.length'>
                        <label class="pull-right">{{ 'jobProject' | translate }}</label>
                    </th>
                    <th  class="tableCell">
                        <label>{{ 'manageNewsTableLableAction' | translate }}</label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage | orderBy: '-createDate' track by $index">
                    <td class="tableCell" >
                        <a href="#" ng-bind="item.jobTitle" ng-click="openJobDetails(item._id)" >test</a>
                    </td>
                    <td class="tableCell"><a href="#" ng-click="openJobDetails(item._id)" >{{item.jobOwnerMail}}</a></td>
                    <td class="tableCell">{{item.createDate| date:'dd/MM/yyyy'}}</td>
                    <td class="tableCell">
                        {{item.skills}}
                    </td>
                    <td class="tableCell">
                        {{item.projectName}}
                    </td>
                    <td class="tableCell">
                        <div class="actionBtn btn dangerBtn"  ng-click="deleteJobbyIndex($index)">{{ 'manageNewsTableLableActionDelete' | translate }}</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <form class="form-inline pull-right margin-bottom-basic">
                <div class="form-group">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="form-group items-per-page">
                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
                    <select id="itemsOnPageSelect2" class="form-control input-sm"
                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
                            ng-change="reloadGrid()">
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
            </form>
        </div>
        <div ng-if="!isAdmin" class="alert alert-danger SuccessMsgPopup text-center">{{ 'notAuthorized' | translate }} </div>
    </div>
</div>