<div class="text-center" id="loginModal" >

    <h2 class="mainTitle text-center ">{{'login' | translate}}</h2>
    <a class="closeBtn" ng-click="closeLoginModal()"></a>
    <form name="signIn">
    	<div class="row sectionRow">
	        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
	           <label class="pull-right">{{'Username' | translate}}</label>
	        </div>
	        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
	            <div class="inputPassSubmitBtnDiv">
	                <input class="pull-right" name="userName" type="text" ng-model="userName" required/>
	            </div>
	        </div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
				<div class="alert alert-danger" ng-show="signIn.userName.$dirty && signIn.userName.$invalid">
					<span ng-show="signIn.userName.$error.required">{{'Username_Error_Msg'|translate}}</span>
				</div>
			</div>
	    </div>
	    <div class="row sectionRow">
	        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
	            <label class="pull-right">{{'Password' | translate}}</label>
	        </div>
	        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pull-right">
				<input class="pull-right password" name="password" type="password" ng-model="password" required/>

	        </div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
				<div class="alert alert-danger" ng-show="signIn.password.$dirty && signIn.password.$invalid">
					<div ng-show="signIn.password.$error.required">{{'Password_Error_Msg'|translate}}</div>
				</div>
			</div>
	    </div>
	    <div class="row sectionRow" ng-show="errorMessage == 'Unauthorized'">
			<div class="alert alert-danger">
	        	<span>{{'loginFailed_Unauthorized' | translate}}</span>
			</div>
	    </div>
	   <div class="row sectionRow" ng-show="errorMessage == 'systemDown'">
		   <div class="alert alert-danger">
	    	 	<span>{{'loginFailed_SystemDown' | translate}}</span>
		   </div>
	   </div>
	    <div class="row sectionRow">
	        <div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12 links">
	            <button type="button" ng-click="doSignIn()" class="btn btn-success pull-left" >{{ 'login' | translate }}</button>
	            <a  ng-click='gotoForgetPassword()'  class="pull-right">{{'ForgetPassword' | translate}}</a>
	            <span class="pull-right">|</span>
	            <a ng-click='closeLoginModal()' href="fepsIncubator/signup" class="pull-right">{{'NewUser' | translate}}</a>
	        </div>
	    </div>
    </form>
</div>
