<div class="brief-case-landing-page-container container" ng-controller="BriefCaseLandingPageController"  data-ng-init="init()">
    <h2 class="mainTitle">{{ 'briefCaseLandingMainTitle' | translate }}</h2>
    <div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div type="button" class="btn btn-default collapsExbandBtn collapseHeader" ng-click=' selectTab($event); isCollapsed = !isCollapsed'>
            <div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
            <h3 class="collapsHeaderTitle">{{ 'briefCaseLandingProjectSummaryTitle' | translate }}</h3>
        </div>
        <div class="collapseBody projectSummary"  uib-collapse="!isCollapsed">
            <div class="well well-lg" ng-show="project" >
                <div class="collapseContentHeader">
                    <div class="row">
                        <div class="projectStatusLabel col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pull-right">
                            {{'briefCaseLandingProjectNameLable' | translate}}
                        </div>
                        <div class="projectCtrlsIcons text-center col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9  pull-right">
                            <a class="projectTitle pull-right" href="fepsIncubator/addProject">
                                {{project.startupName}}
                            </a>
                            <div class="statusIcon glyphicon glyphicon-remove  pull-right" title="Delete Project" ng-show="cycle.currentPhase == 'Admission' && currentRole == 'Founder'" ng-click="openRemoveProjectModal()"></div>
                        </div>
                    </div>
                </div>
                <div class="projectStatusContainer">
                    <div class="row">
                        <div class="projectStatusLabel col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{ 'briefCaseLandingProjectStatusLable' | translate }}</div>
                        <div class="projectStatus col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9" ng-bind="getItemNametById(projectStatusArray,project.status)"></div>
                    </div>
                    <div class="row">
                        <div class="projectStatusLabel col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{ 'briefCaseLandingProjectPhaseLable' | translate }}</div>
                        <div class="projectStatus col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{cycle.currentPhase}}</div>
                    </div>
                    <div class="row">
                        <div class="projectStatusLabel col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">{{ 'briefCaseLandingProjectFoundingLable' | translate }} </div>
                        <div class="projectStatus col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">{{project.foundingDate | date: 'yyyy-MM-dd'}}</div>
                    </div>
                </div>
            </div>
            
            <div ng-show="!project && !isAdmission" class="alert alert-warning col-md-12  text-center">
            	{{'notAdmission' | translate}} 
            </div>
            
            <div ng-show="!project && isAdmission" class="alert alert-warning col-md-12  text-center">
            	{{'noProjects' | translate}} <a ng-show="isAdmission && isUser" href="fepsIncubator/addProject">{{'addProject' | translate}}</a> 
            </div>
        </div>
    </div>
    <div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div type="button" class="btn btn-default collapsExbandBtn collapseHeader" ng-click=' selectTab($event); isCollapsed2 = !isCollapsed2; viewEventsDetails();'>
            <div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
            <h3 class="collapsHeaderTitle">{{ 'briefCaseLandingRequestStatusTitle' | translate }}</h3>
        </div>
        <div class="collapseBody"  uib-collapse="!isCollapsed2">
        		<div ng-show="enrollmentsGridOptions.data.length == 0 || !enrollmentsGridOptions.data" class="alert alert-warning col-md-12  text-center">
            	{{ 'noEnrollmentsMsg' | translate  }}
            </div>
			<div ng-show="enrollmentsGridOptions.data.length > 0"  grid-data grid-options="enrollmentsGridOptions" grid-actions="gridActions" class="tableContainer">
	            <table class="">
	                <thead>
	                <tr class="tableRow MainRow">
	                    <th class="tableCell sortable" sortable="topic">
	                        <label class="pull-right">{{ 'topic' | translate }}</label>
	                    </th>
	                    <th class="tableCell sortable" sortable="date">
	                        <label class="pull-right">{{ 'eventStartDate' | translate}}</label>
	                    </th>
	                    <th class="tableCell sortable" sortable="date">
	                        <label class="pull-right">{{ 'eventEndDate' | translate}}</label>
	                    </th>
	                    
	                    <th class="tableCell sortable" sortable='enrollmentsSize'>
	                    	<label class="pull-right">{{ 'enrollmentDate' | translate }}</label>
	                    </th>
	                    
	                    <th class="tableCell sortable" sortable='enrollmentsSize'>
	                    	<label class="pull-right">{{ 'enrollmentStatus' | translate }}</label>
	                    </th>
	                    
	                    <th  class="tableCell">
	                             <label>{{ 'manageNewsTableLableAction' | translate }}</label>
	                    </th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">
	                    <td class="tableCell" >
	                        <a href="#"ng-bind="item.topic" ng-click="openEventDetails(item.eventId)"></a>
	                    </td>
	                    <td class="tableCell" >{{ item.eventStartDate | date:'yyyy-MM-dd' }}</td>
	                    <td class="tableCell" >{{ item.eventEndDate | date:'yyyy-MM-dd' }}</td>
	                    
	                    <td class="tableCell">{{item.date | date:'yyyy-MM-dd'}}</td>
	                    
	                    <td class="tableCell" ng-if="item.status == 1">Accepted</td>
	                    <td class="tableCell" ng-if="item.status == 2">Rejected</td>
	                    <td class="tableCell" ng-if="item.status == 3">Pending</td>
	                    
	                    <td class="tableCell">
	                         <button class="enroleBtn btn btn-success" ng-click="cancelEnrollment($index)" ng-show="!item.isEventDatePassed">
	                          {{ 'newsEventsViewCancelEnrollNowBtn' | translate }}
	                         </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>
	            <form class="form-inline pull-right margin-bottom-basic">
	                <div class="form-group">
	                    <grid-pagination max-size="5"
	                                     boundary-links="true"
	                                     class="pagination-sm"
	                                     total-items="paginationOptions.totalItems"
	                                     ng-model="paginationOptions.currentPage"
	                                     ng-change="reloadGrid()"
	                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
	                </div>
	                <div class="form-group items-per-page">
	                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
	                    <select id="itemsOnPageSelect2" class="form-control input-sm"
	                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
	                            ng-change="reloadGrid()">
	                        <option selected>5</option>
	                        <option>10</option>
	                        <option>20</option>
	                        <option>30</option>
	                    </select>
	                </div>
	            </form>
        	</div>
        </div>
    </div>
    <div class="collapseItem col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div type="button" class="btn btn-default collapsExbandBtn collapseHeader" ng-click=' selectTab($event); isCollapsed3 = !isCollapsed3; viewBusinessIssuesDetails();'>
            <div class="collapsExpandIcon glyphicon glyphicon-chevron-down"></div>
            <h3 class="collapsHeaderTitle">{{ 'briefCaseLandingBusinessClinicStatusTitle' | translate }}</h3>
        </div>
        <div class="collapseBody"  uib-collapse="!isCollapsed3">
            <div ng-show="issuesGridOptions.data.length == 0 || !issuesGridOptions.data" class="alert alert-warning col-md-12  text-center">
            	{{ 'noIssuesMsg' | translate  }} ,<a href="fepsIncubator/addIssue">{{'addIssue' | translate}}</a> 
            </div>
            
            <div ng-show="issuesGridOptions.data.length > 0" class="alert alert-warning col-md-12  text-center">
            	<a href="fepsIncubator/addIssue">{{'addIssue' | translate}}</a> 
            </div>
            
            <div ng-show="issuesGridOptions.data.length > 0" grid-data grid-options="issuesGridOptions" grid-actions="gridActions" class="tableContainer">
	            <table class="">
	                <thead>
	                <tr class="tableRow MainRow">
	                    <th class="tableCell sortable" sortable="title">
	                        <label class="pull-right">{{ 'issueTitle' | translate }}</label>
	                    </th>
	                    <th class="tableCell sortable" sortable="date">
	                        <label class="pull-right">{{ 'issueDate' | translate }}</label>
	                    </th>
	                    <th class="tableCell sortable" sortable="summary">
	                        <label class="pull-right">{{ 'companyName' | translate }}</label>
	                    </th>
	                    <th class="tableCell sortable" sortable='status'>
	                    	<label class="pull-right">{{ 'issueStatus' | translate }}</label>
	                    </th>
	                    <th  class="tableCell">
	                          <label>{{ 'manageNewsTableLableAction' | translate }}</label>
	                    </th>
	                </tr>
	                </thead>
	                <tbody>
	                <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">
	                    <td class="tableCell" >
	                        <a href="#"ng-bind="item.title" ng-click="openIssueDetails(item.id)"></a>
	                    </td>
	                    <td class="tableCell" >{{ item.date | date:'yyyy-MM-dd' }}</td>
	                    <td class="tableCell" ng-bind="item.companyName" ></td>
	                   	<td class="tableCell" ng-bind="item.status" ></td>
	                    <td class="tableCell">
	                         <button class="actionBtn dangerBtn btn" ng-click="openRemoveIssueModal(item.id,$index)">
	                          {{ 'delete' | translate }}
	                         </button>
	                    </td>
	                </tr>
	                </tbody>
	            </table>
	            <form class="form-inline pull-right margin-bottom-basic">
	                <div class="form-group">
	                    <grid-pagination max-size="5"
	                                     boundary-links="true"
	                                     class="pagination-sm"
	                                     total-items="paginationOptions.totalItems"
	                                     ng-model="paginationOptions.currentPage"
	                                     ng-change="reloadGrid()"
	                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
	                </div>
	                <div class="form-group items-per-page">
	                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
	                    <select id="itemsOnPageSelect2" class="form-control input-sm"
	                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
	                            ng-change="reloadGrid()">
	                        <option selected>5</option>
	                        <option>10</option>
	                        <option>20</option>
	                        <option>30</option>
	                    </select>
	                </div>
	            </form>
        	</div>
        </div>
    </div>
</div>
