<div class="advisory-board-list-container container" ng-controller="advisoryBoardListController">
    <h2 class="mainTitle">{{ 'advisoryBoardListMainTitle' | translate }}</h2>
    <div class="alert alert-warning col-md-12  text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
        {{'tobeAnnounced' | translate}}
    </div>
    <!--<div class="adviserBoardMember ManagerContainer  col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--<div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
            <!--<img src="../../../img/Team/Dr.%20Heba%20Medhat%20Zaki,%20Founder%20and%20CEO.jpg" class="memberPhoto"/>-->
        <!--</div>-->
           <!--<div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
               <!--<h4 class="subTitle memberName">{{ 'aboutusMember1' | translate }}</h4>-->
               <!--<p class="memberBio">{{ 'aboutusMemeberRole1' | translate }}</p>-->

               <!--&lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;-->
           <!--</div>-->
    <!--</div>-->
    <!--<div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
       <!--<div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">-->
        <!--<img src="../../../img/portraitHolder.png" class="memberPhoto"/>-->
        <!--</div>-->
       <!--<div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">-->
           <!--<h4 class="subTitle memberName">{{ 'aboutusMember2' | translate }}</h4>-->
           <!--<p class="memberBio lastLine">{{ 'aboutusMemeberRole2' | translate }}</p>-->
           <!--&lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;-->
       <!--</div>-->
    <!--</div>-->
    <!--<div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">-->

        <!--<div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">-->
            <!--<img src="../../../img/portraitHolder.png" class="memberPhoto"/>-->
        <!--</div>-->
       <!--<div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">-->
           <!--<h4 class="subTitle memberName">{{ 'aboutusMember3' | translate }}</h4>-->
           <!--<p class="memberBio lastLine">{{ 'aboutusMemeberRole3' | translate }}</p>-->
           <!--<div class="MemberName"><strong></strong></div>-->
           <!--<div class="Membertitle"></div>-->
           <!--&lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;-->
       <!--</div>-->
    <!--</div>-->
    <!--<div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">-->

        <!--<div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">-->
            <!--<img src="../../../img/portraitHolder.png" class="memberPhoto"/>-->
        <!--</div>-->
       <!--<div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">-->
           <!--<h4 class="subTitle memberName">{{ 'aboutusMember4' | translate }}</h4>-->
           <!--<p class="memberBio lastLine">{{ 'aboutusMemeberRole4' | translate }}</p>-->
           <!--&lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;-->
       <!--</div>-->
    <!--</div>-->
</div>