<div class="advisory-board-list-container container" ng-controller="advisoryBoardListController">
    <!-- <h2 class="mainTitle">{{ 'advisoryBoardListMainTitle' | translate }}</h2>
    <div class="alert alert-warning col-md-12  text-center col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pull-right">
        {{'tobeAnnounced' | translate}}
    </div> -->
    <h2 class="mainTitle">{{ 'menuItem6' | translate }}</h2>
    
    <div class="adviserBoardMember ManagerContainer  col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="../../../img/AdvisoryBoard/Dr.%20Mahmoud%20El%20Said.jpg" class="memberPhoto"/>
        </div>
        <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="subTitle memberName">{{ 'advisoryBoardMember1' | translate }}</h4>
            <p class="memberBio">{{ 'advisoryBoardMemberRole1' | translate }}</p>
            <div class="clearfix"></div>
   			<p class="memberBio">{{ 'advisoryBoardPresident' | translate }}</p>
   			<div class="clearfix"></div>
            <!-- <span class="seeMoreBtnContainer"> 
            	<a href="#" class="moreBtn greenLink" ng-click="openBio(1)">
            		{{ 'Short_Bio' | translate }}
            	</a>
            </span> -->
        </div>
    </div>
    
    <div class="row">
    	
    	<div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        	<img src="../../../img/AdvisoryBoard/Dr.%20Samiha%20Fawzy.jpg" class="memberPhoto"/>
	       </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember2' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole2' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			  	<div class="clearfix"></div>
	            <span class="seeMoreBtnContainer"> 
	            	<a href="#" class="moreBtn greenLink" ng-click="openBio(2)">
	            		{{ 'Short_Bio' | translate }}
	            	</a>
	            </span>  
            </div>
	    </div>
	    
	    
	    <div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        	<img src="../../../img/AdvisoryBoard/Dr.%20Mona%20El%20Baradei.png" class="memberPhoto"/>
	       </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember3' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole3' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
	           <span class="seeMoreBtnContainer"> 
	            	<a href="#" class="moreBtn greenLink" ng-click="openBio(3)">
	            		{{ 'Short_Bio' | translate }}
	            	</a>
	           </span>	       
	      </div>
	    </div>
    	
    </div>
    
    <br/>
    
    
    <div class="row">
    	
    	<div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Dr.%20Sherifa%20Sherif.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember4' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole4' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
	       	   <div class="clearfix"></div>
               <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(4)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span>    
	       </div>
	    </div>
	    
	    
	    <div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src=".../../../img/Team/Dr.%20Heba%20Medhat%20Zaki,%20Founder%20and%20CEO.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember5' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole5' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
               <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(5)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span> 

	       </div>
	    </div>
    	
    </div>
    
    <br/>
    
    <div class="row">
    	
    	<div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Dr.%20Amr%20Talaat.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember6' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole6' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
               <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(6)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span> 

	       </div>
	    </div>
	    
	    
	    <div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Ms.%20Nelly%20Mahmoud.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember7' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole7' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
               <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(7)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span> 

	       </div>
	    </div>
    	
    </div>
    
    <br/>
    
    <div class="row">
    	
    	<div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Ms.%20Susanne%20Wardani.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember8' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole8' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
              <!--  <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(8)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span>  -->


	       </div>
	    </div>
	    
	    
	    <div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Ms.%20Neveen-El-Tahri.png" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember9' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole9' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
               <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(9)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span>

	       </div>
	    </div>
    	
    </div>
    
    <br/>
    
    <div class="row">
    	
    	<div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Mr.%20Tarek%20Mansour.jpg" class="memberPhoto"/>
	       </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember10' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole10' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
              <!--  <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(10)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span> -->

	       </div>
	    </div>
	    
	    
	    <div class="adviserBoardMember">
	       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
	        <img src="../../../img/AdvisoryBoard/Dr.%20Iman%20Bibars.jpg" class="memberPhoto"/>
	        </div>
	       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
	           <h4 class="subTitle memberName">{{ 'advisoryBoardMember11' | translate }}</h4>
	           <p class="memberBio">{{ 'advisoryBoardMemberRole11' | translate }}</p>
	           <div class="clearfix"></div>
			   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
			   <div class="clearfix"></div>
              <!--  <span class="seeMoreBtnContainer"> 
            		<a href="#" class="moreBtn greenLink" ng-click="openBio(11)">
            			{{ 'Short_Bio' | translate }}
            		</a>
               </span> -->

	       </div>
	    </div>
    	
    </div>
    
    
    
    <!-- 
    
     <div class="adviserBoardMember">
       <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <img src="../../../img/AdvisoryBoard/Dr.%20Mona%20El%20Baradei.png" class="memberPhoto"/>
        </div>
       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pull-right">
           <h4 class="subTitle memberName">{{ 'advisoryBoardMember3' | translate }}</h4>
           <p class="memberBio">{{ 'advisoryBoardMemberRole3' | translate }}</p>
           <div class="clearfix"></div>
		   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
           &lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;
       </div>
    </div>
    
    
    
    <div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src="../../../img/AdvisoryBoard/Dr.%20Mona%20El%20Baradei.png" class="memberPhoto"/>
        </div>
       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
           <h4 class="subTitle memberName">{{ 'advisoryBoardMember3' | translate }}</h4>
           <p class="memberBio">{{ 'advisoryBoardMemberRole3' | translate }}</p>
           <div class="clearfix"></div>
		   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
           &lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;
       </div>
    </div>
    
    
    <div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src="../../../img/AdvisoryBoard/Dr.%20Sherifa%20Sherif.jpg" class="memberPhoto"/>
        </div>
       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
           <h4 class="subTitle memberName">{{ 'advisoryBoardMember4' | translate }}</h4>
           <p class="memberBio">{{ 'advisoryBoardMemberRole4' | translate }}</p>
           <div class="clearfix"></div>
		   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
           &lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;
       </div>
    </div>
    
    
    <div class="adviserBoardMember  col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="memberPhotoContainer col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <img src=".../../../img/Team/Dr.%20Heba%20Medhat%20Zaki,%20Founder%20and%20CEO.jpg" class="memberPhoto"/>
        </div>
       <div class="adviserBoardMemberDtails col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
           <h4 class="subTitle memberName">{{ 'advisoryBoardMember5' | translate }}</h4>
           <p class="memberBio">{{ 'advisoryBoardMemberRole5' | translate }}</p>
           <div class="clearfix"></div>
		   <p class="memberBio">{{ 'advisoryBoardMember' | translate }}</p>
           &lt;!&ndash;<span class="seeMoreBtnContainer"><a href="#" class="moreBtn greenLink">{{ 'newsEventsListnewsdetailsSeeMore' | translate }}</a></span>&ndash;&gt;
       </div>
    </div> -->
    
    
    
</div>