<div class="event-detailsFrom-briefCase-container container-fluid" ng-controller="EventDetailsFromBriefCaseController">
		<div class="backtoBriefCase col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">{{ 'briefCaseEventDetailsBacktoBriefCase' | translate }}</div>
		<h2 class="mainTitle">{{ 'briefCaseEventDetailsMainTitle' | translate }}</h2>
       <div class="eventContainer visionContainer">
           <img src="../../../img/news&events.jpeg" class="newsPhoto col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"/>
           <div class="newsDtails col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
               <h4 class="subTitle newsTitle">{{ 'briefCaseEventDetailsEventTitle' | translate }}</h4>
               <div class="eventDetailsContainer col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                   <div class="dateData col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                       <span class="eventDataLabel">{{ 'briefCaseEventDetailsEventDate' | translate }}</span>
                       <span class="eventDataData">Data</span>
                    </div>
                   <div class="locationData col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                       <span class="eventDataLabel">{{ 'briefCaseEventDetailsEventLocation' | translate }}</span>
                       <span class="eventDataData">Data</span>
                    </div>
               </div>
               <div class="eventDetailedInfo col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
                 <p class="newsContent">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>
               </div>
           </div>
       </div>
       <div class="eventSpeakerContainer">
           <img src="../../../img/news&events.jpeg" class="newsPhoto col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2"/>
           <div class="speakerDtails col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
               <h4 class="subTitle speakerName">{{ 'briefCaseEventDetailsEventSpeakerName' | translate }}</h4>
               <h4 class="subTitle speakerTitle">{{ 'briefCaseEventDetailsEventSpeakerTitle' | translate }}</h4>
                <p class="speakerBio">{{ 'briefCaseEventDetailsEventDetails' | translate }}</p>            
           </div>
       </div>
</div>