<div id="addProject" ng-controller="addProjectController" data-ng-init="init()">
	<div class="addProjectContainer container">
        <h2 class="mainTitle text-center">{{ 'addProject' | translate }}</h2>
        <form name="addProjectForm">
            <h4 class="sectionTitle">
               {{ 'theProject' | translate }}
            </h4>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                    <label>{{ 'founderName' | translate }}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                    {{founderUser.firstName}} {{" "}} {{founderUser.surName}}
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                    <label>{{ 'roleinProject' | translate }}</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                    {{ 'projectFounder' | translate }}
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                    <label>{{ 'proofofAffiliation' | translate }}</label>
                    <div class="clearfix"></div>
					<span class="smallLabel">( {{ 'imageSizeLabel' | translate }} ) </span><br/>
					<span class="smallLabel">( {{ 'proofofAffiliationInfo' | translate }} ) </span>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                    <div class="uploader pull-right" ng-show="!afiliationUploaded">
	                    <input type="file" class="pull-right" ngf-select="noAfiliationSelected = false; afiliationFileNameNotValid = false; "  ng-model="afiliationFile" name="afiliationFile" ngf-pattern="'image/*,.zip,.rar,application/pdf'"
	             				accept="image/*,application/pdf,.zip,.rar," ngf-max-size="500KB" ngf-min-height="100"
							    ngf-resize="{quality: 0.8}" ng-disabled="viewMode == 3" >

	                    <button class="btn btn-success" ng-disabled="noAfiliationSelected" type="button" ng-click="uploadAfiliationFile()">{{ 'uploadFile' | translate }}</button>
	                    <button class="btn btn-success" ng-show = "afiliationAttachment.id" type="button" ng-click="afiliationUploaded = true">{{ 'cancelBtn' | translate }}</button>
                    </div>
                    <div ng-show="afiliationUploaded">
                    	<a target="_self" href= "/attachements?id={{afiliationAttachment.id}}&key={{afiliationAttachment.key}}" download>{{afiliationAttachment.key}}</a>
                    	<button  class="btn btn-success" type="button" ng-hide="viewMode == 3" ng-click="afiliationUploaded = false" ng-disabled="viewMode == 3" >{{ 'editAttachment' | translate }}</button>
                    </div>
                    <div class="alert alert-danger pull-left" ng-show="addProjectForm.afiliationFile.$dirty && !addProjectForm.afiliationFile.$invalid && !afiliationUploaded">
                        <span>{{ 'addprojectUploadAttachment' | translate }}</span><br>
                    </div>
                    <div class="alert alert-danger pull-left" ng-show="addProjectForm.afiliationFile.$dirty && addProjectForm.afiliationFile.$invalid">
                        <span ng-show="addProjectForm.afiliationFile.$error.pattern">{{ 'addprojectAttachmentValid' | translate }}</span>
                        <!--<span ng-show="addProjectForm.afiliationFile.$error.required">{{ 'addprojectAttachmentRequired' | translate }}</span>-->
                        <span ng-show="addProjectForm.afiliationFile.$error.maxSize">{{ 'addprojectFileLarge' | translate }}</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" ng-show="afiliationFileNameNotValid">
		                <div class="alert alert-danger text-center">
		                    <span>{{'addprojectAttachmentNameValid' | translate}}</span>
		                </div>
	            	</div>
                </div>
            </div>
            <div class="row sectionRow">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>{{ 'teamMembers' | translate }} </h5>
                    <div class="clearfix"></div>
                    <a href="#" ng-click="openAddMember()" ng-hide="viewMode == 3" >{{ 'addMember' | translate }}</a>
                </div>
            </div>
            <div grid-data grid-options="memebrsGridOptions" grid-actions="memebrsGridActions" class="tableContainer"  >
                <!-- sample table layout goes below, but remember that you can you any mark-up here. -->
                <table width="100%">
                    <thead>
                        <tr class="tableRow MainRow">
                             <th class="tableCell" sortable="firstName" class="sortable">
                                 <label>{{ 'memberName' | translate }}</label>
                             </th>
                             <th class="tableCell" sortable="firstName" class="sortable">
                                 <label>{{ 'memberFName' | translate }}</label>
                             </th>
                             <th class="tableCell" sortable="email" class="sortable">
                                 <label>{{ 'memberEmail' | translate }}</label>
                             </th>
                             <th class="tableCell" sortable="role" class="sortable">
                                 <label>{{ 'role' | translate }}</label>
                             </th>
                             <th class="tableCell">
                                 <label>{{ 'action' | translate }}</label>
                             </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">
                            <td class="tableCell">{{item.username}}</td>
                            <td class="tableCell">{{item.firstName}}{{" "}}{{item.surName}}</td>
                            <td class="tableCell">{{item.email}}</td>
                            <td class="tableCell">{{item.role}}</td>
                            <td class="tableCell" >
                                <button type="button" ng-show="item.role != 'Founder' && viewMode != 3" ng-click="deleteMember($index)" class="actionBtn dangerBtn" >{{ 'delete' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <grid-pagination boundary-links="true"
                    ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                    total-items="paginationOptions.totalItems"
                    ng-model="paginationOptions.currentPage"
                    ng-change="reloadGrid()"
                    items-per-page="paginationOptions.itemsPerPage">
                </grid-pagination>
                <div class="clearfix"></div>
                <div class="alert alert-danger" ng-show="!membersNumbersValid">
                    <span>{{ 'addProjectMemberValidation' | translate }}</span>
                </div>
            </div>
            <section>
                <h4 class="sectionTitle">
                    {{ 'theTeam' | translate }}
                </h4>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'startupName' | translate }}*</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="text" name="name" ng-model="project.startupName"
                        ng-pattern="/^[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z-\s_\.]{1,50}$/"
                        ng-disabled="viewMode == 3" required/>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.name.$dirty && addProjectForm.name.$invalid">
                            <span ng-show="addProjectForm.name.$error.required">{{ 'addProjectStartNameRequired' | translate }}</span>
                            <span ng-show="addProjectForm.name.$error.pattern">{{'Name_Error_Msg' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'foundingDate' | translate }}*</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <p class="input-group col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                            <input type="text" class="form-control" ng-disabled="viewMode == 3"  uib-datepicker-popup="{{format}}" placeholder="DD-MMMM-YYYY" name="foundingDate" ng-model="project.foundingDate" ng-required="true" is-open="DatePickerPopup.opened" datepicker-options="dateOptions"  close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.foundingDate.$dirty && addProjectForm.foundingDate.$invalid">
                            <span ng-show="addProjectForm.foundingDate.$error.required">{{ 'addProjectFoundingDateRequired' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label> {{'Sector' | translate}}*</label>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <select name="sector" ng-model="project.sector" ng-disabled="viewMode == 3" required>
                            <option ng-repeat="item in sectorArray track by $index" value="{{item.id}}">{{item.name}}</option>
                        </select>

                        <input type="text" name="otherSectors" ng-disabled="viewMode == 3"
                        ng-model="project.otherSectors" ng-show="project.sector == 53"  ng-required="project.sector == 53"/>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.sector.$dirty && addProjectForm.sector.$invalid">
                            <span ng-show="addProjectForm.sector.$error.required">{{'Sector_Error_Msg' | translate}}</span>
                        </div>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.otherSectors.$dirty && addProjectForm.otherSectors.$invalid">
                            <span ng-show="addProjectForm.otherSectors.$error.required">{{'Sector_Error_Msg' | translate}}</span>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right" >

                    </div>
                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question1' | translate }}*</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <div class="pull-right radioDiv">
                            <input type="radio" name="legal" value="yes" ng-model="project.legallyRegistered" checked class="pull-right" ng-disabled="viewMode == 3" required>
                            <div class="radioText pull-right">{{'yes' | translate}}</div>
                        </div>
                        <div class="pull-right radioDiv">
                            <input type="radio" name="legal" value="no" ng-model="project.legallyRegistered" class="pull-right" ng-disabled="viewMode == 3" required>
                            <div class="radioText pull-right">{{'no' | translate}}</div>
                        </div>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.legal.$dirty && addProjectForm.legal.$invalid">
                            <span ng-show="addProjectForm.legal.$error.required">{{'addProjectsProjectLegall' | translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row sectionRow" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question2' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea name="question2"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.unregisterationReason" rows="4" cols="50"  ng-disabled="project.legallyRegistered == 'yes' || viewMode == 3" ng-required="project.legallyRegistered == 'no'">

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question2.$dirty && addProjectForm.question2.$invalid">
                            <span ng-show="addProjectForm.question2.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                            <span ng-show="addProjectForm.question2.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question3' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="question3"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.businessGoals" ng-disabled="viewMode == 3" required>

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question3.$dirty && addProjectForm.question3.$invalid">
                            <span ng-show="addProjectForm.question3.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                            <span ng-show="addProjectForm.question3.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question4' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="question4"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.productService" ng-disabled="viewMode == 3" required>

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question4.$dirty && addProjectForm.question4.$invalid">
                            <span ng-show="addProjectForm.question4.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                            <span ng-show="addProjectForm.question4.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question5' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="question5"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.currentProgress" ng-disabled="viewMode == 3" required>

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question5.$dirty && addProjectForm.question5.$invalid">
                            <span ng-show="addProjectForm.question5.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                            <span ng-show="addProjectForm.question5.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question6' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="question6" ng-disabled="viewMode == 3"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.growthPlans" required>

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question6.$dirty && addProjectForm.question6.$invalid">
                            <span ng-show="addProjectForm.question6.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                            <span ng-show="addProjectForm.question6.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'question7' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="question7" ng-disabled="viewMode == 3"
                        ng-pattern="/^(?=.*[0-9])*(?=.*[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]|[0-9]+[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+|[\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z]+[0-9]+)[0-9\u0600-\u065F\u066A-\u06EF\u06FA-\u06FFa-zA-Z!@#$&quot;{}=\-\\//?:;><%*,.\s()'_+^&\[\]]{2,4000}$/"
                        ng-model="project.currentChallenge" required>

                        </textarea>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.question7.$dirty && addProjectForm.question7.$invalid">
                        <span ng-show="addProjectForm.question7.$error.required">{{ 'questionMustbeAnswered' | translate }}</span>
                        <span ng-show="addProjectForm.question7.$error.pattern">{{'Error_Msg_Max_length' | translate}}</span>
                    </div>
                </div>
                <div class="row sectionRow2" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'showcase' | translate }}*</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                        <input type="url" name="showcase" ng-disabled="viewMode == 3" ng-model="project.showcase" required>
                    </div>
                    <div class="alert alert-danger col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right" ng-show="addProjectForm.showcase.$dirty && addProjectForm.showcase.$invalid">
                        <span ng-show="addProjectForm.showcase.$error.required">{{ 'showcaseRequired' | translate }}</span>
                        <span ng-show="addProjectForm.showcase.$error.url">{{ 'showcasevalidate' | translate }}</span>
                    </div>
                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'addProjectPrototype' | translate }}</label>
                        <div class="clearfix"></div>
						<span class="smallLabel">( {{ 'imageSizeLabel' | translate }} ) </span>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
	                    <div class="uploader" ng-show="!prototypeUploaded">
		                    <input type="file" class="pull-right" ngf-select="noPrototypeSelected = false" ng-model="prototypeFile" name="prototypeFile" ngf-pattern="'image/*,application/pdf,.zip,.rar'"
		             				accept="image/*,application/pdf,.zip,.rar" ngf-max-size="500KB" ngf-min-height="100"
								    ngf-resize="{quality: 0.8}" ng-disabled="viewMode == 3">
		                    <button class="btn btn-success"  ng-disabled="noPrototypeSelected" type="button" ng-click="uploadPrototypeFile()">{{ 'uploadFile' | translate }}</button>
		                    <button class="btn btn-success" ng-show = "prototypeAttachment.id" type="button" ng-click="prototypeUploaded = true">{{ 'cancelBtn' | translate }}</button>
                            <div class="alert alert-danger pull-left" ng-show="addProjectForm.prototypeFile.$dirty && !addProjectForm.prototypeFile.$invalid && !prototypeUploaded">
                                <span>{{ 'addprojectUploadAttachment' | translate }}</span><br>
                            </div>
                            <div class="alert alert-danger pull-left" ng-show="addProjectForm.prototypeFile.$dirty && addProjectForm.prototypeFile.$invalid">
                                <span ng-show="addProjectForm.prototypeFile.$error.pattern">{{ 'addprojectAttachmentValid' | translate }}</span>
                                <span ng-show="addProjectForm.prototypeFile.$error.maxSize">{{ 'addprojectFileLarge' | translate }}</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" ng-show="prototypeFileNameNotValid">
				                <div class="alert alert-danger text-center">
				                    <span>{{'addprojectAttachmentNameValid' | translate}}</span>
				                </div>
	            			</div>
	                    </div>
	                    <div ng-show="prototypeUploaded">
	                    	<a target="_self" href= "/attachements?id={{prototypeAttachment.id}}&key={{prototypeAttachment.key}}" download>{{prototypeAttachment.key}}</a>
	                    	<button  class="btn btn-success" ng-hide="viewMode == 3" type="button" ng-click="prototypeUploaded = false" ng-disabled="viewMode == 3">{{ 'editAttachment' | translate }}</button>
	                    </div>
                	</div>
                </div>
            </section>
            <section ng-show="showIncubationAttchaments">
           	    <h4 class="sectionTitle">
                    {{ 'projectAttachment' | translate }}
                </h4>
	           <div class="row sectionRow">
	               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" ng-show="allowIncubationAttchaments "><!-- && incubationAttachments.length <5 -->
	                   <div class="uploader pull-right">
	               		   <input type="file" class="pull-right" ngf-select="noIncubationSelected = false; incubationFileNameNotValid = false" ng-model="incubationFile" name="incubationFile" ngf-pattern="'image/*,application/pdf,.zip,.rar'"
	            				accept="image/*,application/pdf,.zip,.rar" ngf-max-size="1000KB"
						    ngf-resize="{quality: 0.8}" >
	                   	   <button class="btn btn-success" type="button" ng-disabled="noIncubationSelected || projIncubAllAttachMaxSize || addProjectForm.incubationFile.$error.maxSize" ng-click="uploadIncubationFile()">{{ 'uploadFile' | translate }}</button>
	          			</div>
	               </div>
	               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                       <span us-spinner="{radius:30, width:8, length: 16}"  spinner-start-active="spinneractive" spinner-key="spinner2"></span>
	          			<div class="tableContainer" ng-show="incubationAttachments.length > 0">
	          				<p ng-show="allowIncubationAttchaments">{{ 'addProjectMaxAttachment' | translate }}</p>
		          			<table width="100%">
		          				<thead>
				                    <tr class="tableRow MainRow">
				                        <th class="tableCell">
				                            {{ 'projectAttachment' | translate }}
				                        </th>
				                        <th class="tableCell">
				                            {{ 'action' | translate }}
				                        </th>
				                    </tr>
			                    </thead>
                   				<tbody>
	                        		<tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" class="tableRow" ng-repeat="incubationAttachment in incubationAttachments">
				                        <td class="tableCell">
				                            <a target="_self" href= "/attachements?id={{incubationAttachment.id}}&key={{incubationAttachment.key}}" download>{{incubationAttachment.key}}</a>
				                        </td>
				                        <td class="tableCell">
				                        	<button type="button" ng-click="deleteIncubationAttachment($index)" ng-show="allowIncubationAttchaments" class="actionBtn dangerBtn" >{{ 'delete' | translate }}</button>
				                        </td>
				                    </tr>
			                    </tbody>
			                </table>
		                </div>
				   </div>
				</div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pull-right" ng-show="addProjectForm.incubationFile.$error.maxSize">
                    <div class="alert alert-danger  text-center">
                        <span>{{ 'addprojectAttachmentLarge' | translate }}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pull-right" ng-show="projIncubAllAttachMaxSize">
                    <div class="alert alert-danger  text-center">
                        <span>{{ 'projectIncubationAllAttachmentMaxSize' | translate }}</span>
                    </div>
                </div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
	                <div class="alert alert-danger text-center" ng-show="noAttachmentsUploaded">
	                    <span>{{ 'projectIncubationAttachmentvalidate' | translate }}</span>
	                </div>
	            </div>
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
	                <div class="alert alert-danger text-center" ng-show="addProjectForm.incubationFile.$error.pattern">
	                    <span ng-show="addProjectForm.incubationFile.$error.pattern">{{ 'addprojectAttachmentValid' | translate }}</span>
	                </div>
	            </div>
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" ng-show="incubationFileNameNotValid">
	                <div class="alert alert-danger text-center">
	                    <span>{{'addprojectAttachmentNameValid' | translate}}</span>
	                </div>
	            </div>
            </section>
            <br />
            <section ng-show="showFeedBack">
                <h4 class="sectionTitle">
                   {{ 'addProjectFeedback_score' | translate }}
                </h4>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'addProjectFeedback' | translate }}*</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="feedBack" ng-disabled="disableFeedBack"  ng-model="project.feedback" ng-required="showFeedBack" ng-trim="false">
                        </textarea>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4 pull-left">
		                <div class="alert alert-danger" ng-show="addProjectForm.feedBack.$dirty && addProjectForm.feedBack.$invalid">
		                    <span ng-show="addProjectForm.feedBack.$error.required">{{ 'addProjectfeedbackRequired ' | translate }}</span>
		                </div>
	            	</div>

                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'addProjectScore' | translate }}*</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <input type="number" min="0" max="100" name="score" ng-disabled="disableFeedBack" ng-model="project.score" value="0" ng-required="showFeedBack" ng-trim="false"/>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.score.$dirty && addProjectForm.score.$invalid">
                            <span ng-show="addProjectForm.score.$error">{{ 'addProjectScoreValidate' | translate }}</span>
                            <span ng-show="addProjectForm.score.$error.required">{{ 'addProjectScoreRequired' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="row sectionRow">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                        <label>{{ 'addProjectComment' | translate }}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pull-right">
                        <textarea rows="4" cols="50" name="comment" ng-disabled="disableComment"  ng-model="project.comment" ng-trim="false">
                        </textarea>
                        <div class="alert alert-danger pull-left" ng-show="addProjectForm.comment.$dirty && addProjectForm.comment.$invalid">
                            <span ng-show="addProjectForm.comment.$error">{{ 'addProjectScoreValidate' | translate }}</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row btnsDiv" ng-show="viewMode == 1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelAddProject()"> {{'cancelBtn' | translate }} </button>
                    <button type="button" class="btn btn-success pull-left" ng-click="saveProject()"> {{'add' | translate }} </button>
                </div>
            </div>
            <div class="row btnsDiv" ng-show="viewMode == 2">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelAddProject()"> {{'cancelBtn' | translate }} </button>
                    <button type="button" class="btn btn-success pull-left" ng-click="saveProject()"> {{'edit' | translate }}</button>
                </div>
            </div>
            <div class="row btnsDiv" ng-show="showFeedBack && (!disableFeedBack || !disableComment)">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelAddProject()"> {{'cancelBtn' | translate }} </button>
                    <button type="button" class="btn btn-success pull-left" ng-click="saveProject()"> {{'saveFeedBack' | translate }} </button>
                </div>
            </div>
            <div class="row btnsDiv" ng-show="showIncubationAttchaments && allowIncubationAttchaments">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-default pull-left" ng-click="cancelAddProject()"> {{'cancelBtn' | translate }} </button>
                    <button type="button" class="btn btn-success pull-left" ng-click="saveProject()"> {{'saveAttachments' | translate }} </button>
                </div>
            </div>

        </form>
   </div>
</div>
