<div class="manageEnrollCont addMemberContainer">
    <h2 class="mainTitle">{{ 'eventEnrollments' | translate }}</h2>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-2 pull-right">
            <label class="pull-right">{{ 'topic' | translate }}</label>
        </div>
        <div class="col-lg-10 pull-right">
            <span>{{event.value.topic}}</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2 pull-right">
            <label class="pull-right">{{ 'date' | translate }}</label>
        </div>
        <div class="col-lg-10 pull-right">
            <span>{{event.value.eventDate | date:'yyyy-MM-dd'}}</span>
        </div>
    </div>
    <br />
	<uib-tabset active="activeTab">
    	<uib-tab index="0">
	        <uib-tab-heading>
	             {{ 'Enrollments' | translate }}
            </uib-tab-heading>
            <div grid-data grid-options="enrollmentsGridOptions" grid-actions="gridActions" class="tableContainer">
                  <table class="">
                <thead>
                <tr class="tableRow MainRow">
                    <th class="tableCell sortable" sortable="name">
                        <label class="pull-right">{{'memberFName' | translate}}</label>
                    </th>
                    <th class="tableCell sortable" sortable="email">
                        <label class="pull-right">{{'memberEmail' | translate}}</label>
                    </th>
                    <th class="tableCell sortable" sortable="date">
                        <label class="pull-right">{{'EnrollmentsDate' | translate}}</label>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="tableRow" grid-item ng-class-odd="rowA" ng-class-even="rowB">
                    <td class="tableCell">
                            	<a href="/fepsIncubator/viewProfile?username={{item.username}}" target="_blank">{{item.firstName}} {{item.surname}}</a>
                    </td>
                    <td class="tableCell">{{item.email}}</td>
                    <td class="tableCell">{{item.date | date:'yyyy-MM-dd'}}</td>
                </tr>
                </tbody>
            </table>
                  <form class="form-inline pull-right margin-bottom-basic">
                <div class="form-group">
                    <grid-pagination max-size="5"
                                     boundary-links="true"
                                     class="pagination-sm"
                                     total-items="paginationOptions.totalItems"
                                     ng-model="paginationOptions.currentPage"
                                     ng-change="reloadGrid()"
                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                </div>
                <div class="form-group items-per-page">
                    <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
                    <select id="itemsOnPageSelect2" class="form-control input-sm"
                            ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
                            ng-change="reloadGrid()">
                        <option selected>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                    </select>
                </div>
            </form>
            </div>
            
            <button class="downloadBtn" ng-click="download()">Download CSV</button> 
            
            
        </uib-tab>
	    <uib-tab index="1">
            <uib-tab-heading>
              {{ 'EnrollmentsRequests' | translate }}
            </uib-tab-heading>
            <div grid-data grid-options="enrollmentRequestsGridOptions" grid-actions="gridActions" class="tableContainer">
               <table class="">
                <thead>
                <tr class="tableRow MainRow">
                    <th class="tableCell sortable" sortable="name">
                        <label class="pull-right">{{'memberFName' | translate}}</label>
                    </th>
                    <th class="tableCell sortable" sortable="email">
                        <label class="pull-right">{{'memberEmail' | translate}}</label>
                    </th>
                    <th class="tableCell sortable" sortable="date">
                        <label class="pull-right">{{'EnrollmentsDate' | translate}}</label>
                    </th>
                    <th  class="tableCell">
                             <label>{{ 'manageNewsTableLableAction' | translate }}</label>
                    </th>
                </tr>
                </thead>
                <tbody>
                        <tr class="tableRow" ng-class-even="rowB" ng-class-odd="rowA" ng-repeat="item in filtered | startFrom:(paginationOptions.currentPage-1)*paginationOptions.itemsPerPage | limitTo:paginationOptions.itemsPerPage track by $index">
                            <td class="tableCell">
                                <a href="/fepsIncubator/viewProfile?username={{item.username}}" target="_blank">{{item.firstName}} {{item.surname}}</a>
                            </td>
                            <td class="tableCell">{{item.email}}</td>
                            <td class="tableCell">{{item.date | date:'yyyy-MM-dd'}}</td>
                            <td class="tableCell">
                                <button  type="button" class="actionBtn btn greenBtn pull-right" ng-click="changeEnrollmentStatus(item,$index,1)">{{ 'manageProjectsProjectActionAccept' | translate }}</button>
                                <button  type="button" class="actionBtn btn dangerBtn pull-right" ng-click="changeEnrollmentStatus(item,$index,2)">{{ 'manageProjectsProjectActionReject' | translate }}</button>
                            </td>
                        </tr>
                </tbody>
            </table>
               <form class="form-inline pull-right margin-bottom-basic">
                    <div class="form-group">
                        <grid-pagination max-size="5"
                                         boundary-links="true"
                                         class="pagination-sm"
                                         total-items="paginationOptions.totalItems"
                                         ng-model="paginationOptions.currentPage"
                                         ng-change="reloadGrid()"
                                         items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                    </div>
                    <div class="form-group items-per-page">
                        <label for="itemsOnPageSelect2">{{ 'manageUsersItemsPerPage' | translate }}</label>
                        <select id="itemsOnPageSelect2" class="form-control input-sm"
                                ng-init="paginationOptions.itemsPerPage = '5'" ng-model="paginationOptions.itemsPerPage"
                                ng-change="reloadGrid()">
                            <option selected>5</option>
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                        </select>
                    </div>
                </form>
            </div>
	    </uib-tab>
  </uib-tabset>
</div>
