<div id="termsAndConditions" class="terms-container container" ng-controller="termsAndConditionsController">
    <h2 class="mainTitle">
       {{ 'termsConditionTitle' | translate }}
    </h2>
    <p class="text-center">
        {{ 'termsConditionP1' | translate }}
    </p>
    <p class="text-center">
        {{ 'termsConditionP2' | translate }}
    </p>
    <p class="text-center">
        {{ 'termsConditionP3' | translate }}
    </p>
    <p class="text-center">
        {{ 'termsConditionP4' | translate }}
    </p>
</div>