<h1>
  Hello Mr <%=user.firstName%> <%=user.middleName%>
</h1>
<%if(status === 1){%>
  <h2>You are accepted in event: <%=event.topic%></h2>
<%}else{%>
  <h2>You are rejected in event: <%=event.topic%></h2>
<%}%>
