<div class="news-events-details-container container" ng-controller="NewsEventsDetailsController">
    <div class="bannerMainContainer">
        <div class="bannerContainer">
            <div class="eventBannerBgContainer" style="background-image: url('../../../img/news&events.jpeg')">

            </div>
             <div class="mask"></div>
        </div>
    
        <div class="eventNewsDetailsContainer">
            <h4 class="subTitle newsTitle col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                {{ news.headline }}
            </h4>
            <div class="eventDetails col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <div class="dateInfo pull-left">
                    <span class="glyphicon glyphicon-calendar pull-right"></span>
                    <h5 class="eventDate">{{ news.storyDate | date : "dd/MM/yyyy"  }}</h5>
                </div>
            </div>

        </div>
    </div>
    <div class="belowSection">
        <div class="newsEventsParagraphsContainer">

            <p class="newsContent">

                <img ng-src="{{news.imageSource}}" class="newsDetailsImg pull-right" />
                {{ news.details }}
            </p>
           	<!--
            <a class="enroleBtn col-xs-12 col-sm-6 col-md-2 col-lg-2 col-xl-2 greenLink" href="#" data-toggle="modal" data-target="#failureMsgContainer">{{ 'newsEventsViewEnrollNowBtn' | translate }}</a>
			  -->
        </div>
    </div>
    
        <!-- Modal -->
    <!--<div id="successMsgContainer" class="modal fade responsePopup success" role="dialog">-->
      <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-body">-->
            <!--<p>{{ 'newsEventsDetailSuccessMsg' | translate }}</p>-->
          <!--</div>-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'newsEventsDetailClose' | translate }}</button>-->
        <!--</div>-->
          <!--&lt;!&ndash; Modal content end&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
        <!--&lt;!&ndash; modal end &ndash;&gt;-->
    <!---->
        <!--&lt;!&ndash; Modal &ndash;&gt;-->
    <!--<div id="failureMsgContainer" class="modal fade responsePopup failure" role="dialog">-->
      <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-body">-->
            <!--<p>{{ 'newsEventsDetailFailureMsg' | translate }}</p>-->
          <!--</div>-->
            <!--<a type="button" class="signUpLink greenLink" data-dismiss="modal" href="#">{{ 'newsEventsDetailSignupLink' | translate }}</a>-->
        <!--</div>-->
          <!--&lt;!&ndash; Modal content end&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
        <!-- modal end -->
</div>